@model MVCApp.Models.Login
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>MTTS Login</title>
    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />
    <link rel="stylesheet" href="~/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />

    <style>
        body {
            /*background: linear-gradient(-45deg, #ffbc53, #3cdfe7, #1175a2, #23d5ab);*/
            background-image: url(../Image/bg-header.jpg);
            background-size: 400% 400%;
            animation: gradient 15s ease infinite;
            height: 100vh;
        }

        @@keyframes gradient {
	        0% {
		        background-position: 0% 50%;
	        }
	        50% {
		        background-position: 100% 50%;
	        }
	        100% {
		        background-position: 0% 50%;
	        }
        }
            /* ---------- GENERAL ---------- */
            * {
              box-sizing: inherit;
            }


            /* ---------- LOGIN ---------- */
            .login {
              width: 400px;
            }

        .login__header {
            background-color: #ffffff94;
            border-top-left-radius: 1.25em;
            border-top-right-radius: 1.25em;
            color: #fff;
            padding: 1.25em 1.625em;
        }

            .login__header :first-child {
              margin-top: 0;
            }

            .login__header :last-child {
              margin-bottom: 0;
            }

            .login h2 .icon {
              margin-right: 14px;
            }

            .login__form {
              background-color: #fff;
              border-bottom-left-radius: 1.25em;
              border-bottom-right-radius: 1.25em;
              color: #777;
              display: grid;
              gap: 0.875em;
              padding: 1.25em 1.625em;
            }

            .login input {
              border-radius: 0.1875em;
            }

            .login input[type="email"],
            .login input[type="password"] {
              background-color: #eee;
              color: #777;
              padding: 0.25em 0.625em;
              width: 100%;
            }

            /*.login input[type="submit"] {
              display: block;
              margin: 0 auto;
            }*/
        .input-icon.input-icon-right > input {
            padding-left: 6px;
            padding-right: 0px;
        }


    </style>
</head>

<body class="login-layout">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">

                    <div class="login-container rounded" style="margin-top:90px!important;">
                        <div class="center login__header" style="box-shadow: 0px 0px 10px 5px #ffffff9e; height: 110px ">
                            <img class="rounded-circle" src="~/Image/Logo.png" alt="Jason's Photo" style="margin: 10px; HEIGHT: 78PX; WIDTH: 100PX;" /> &nbsp;
                            <h4>

                                @*<i class="ace-icon fa fa-leaf green"></i>*@
                                <span class="white">@*Materials Tracking and Tracing System*@</span>
                                @*<span class="white" id="id-text2">App</span>*@
                            </h4>
                            @*<h4 class="blue" id="id-company-text">&copy; RS Barcoders</h4>*@
                        </div>
                        <div class="position-relative login__form" style="box-shadow: 0px 10px 14px 5px #ffffff9e !important; ">
                            <div id="login-box" class="">
                                <div>
                                    <div class="" style="background: #ffffff !important;">
                                       
                                        <h4 class="blue lighter bigger">
                                            @*<i class="ace-icon fa fa-coffee green"></i>*@
                                            @*<span class="blue" id="id-text2">Please Enter Your Information</span>*@
                                            <center>
                                                <span class="blue" id="id-text2">Log In</span>
                                            </center>
                                           
                                        </h4>


                                        @using (Html.BeginForm())
                                        {
                                            @Html.AntiForgeryToken()
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @*<input type="text" class="form-control" placeholder="Username" />*@
                                                        @Html.TextBoxFor(model => model.LoginId, new { @class = "form-control", placeholder = "User Id", @autocomplete = "off" })
                                                        @Html.ValidationMessageFor(model => model.LoginId, "", new { @class = "text-danger" })
                                                        <i class="ace-icon fa fa-user fa-2x"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        @*<input type="password" class="form-control" placeholder="Password" />*@
                                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>
                                                @if (ViewBag.Lid != null && ViewBag.Pass != null)
                                                {
                                                    <div class="alert alert-danger">
                                                        <strong>Error! Invalid Credentials.</strong>
                                                    </div>
                                                }
                                                else
                                                {
                                                    if (ViewBag.ServerError != null)
                                                    {
                                                        if (ViewBag.ServerError == "Y")
                                                        {
                                                            <div class="alert alert-danger">
                                                                <strong>@Html.ValidationMessage("ServerError")</strong>
                                                            </div>
                                                        }
                                                    }

                                                }

                                                <div class="clearfix">
                                                    @*<label class="inline">
                                                            <input type="checkbox" class="ace" />
                                                            <span class="lbl"> Remember Me</span>
                                                        </label>*@

                                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                                        <i class="ace-icon fa fa-key"></i>
                                                        <span class="bigger-110">Login</span>
                                                    </button>
                                                </div>

                                                <div class="space-4"></div>
                                            </fieldset>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div id="forgot-box" class="forgot-box widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header red lighter bigger">
                                            <i class="ace-icon fa fa-key"></i>
                                            Retrieve Password
                                        </h4>

                                        <div class="space-6"></div>
                                        <p>
                                            Enter your email and to receive instructions
                                        </p>

                                        <form>
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="email" class="form-control" placeholder="Email" />
                                                        <i class="ace-icon fa fa-envelope"></i>
                                                    </span>
                                                </label>

                                                <div class="clearfix">
                                                    <button type="button" class="width-35 pull-right btn btn-sm btn-danger">
                                                        <i class="ace-icon fa fa-lightbulb-o"></i>
                                                        <span class="bigger-110">Send Me!</span>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div><!-- /.widget-main -->

                                    <div class="toolbar center">
                                        <a href="#" data-target="#login-box" class="back-to-login-link">
                                            Back to login
                                            <i class="ace-icon fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.forgot-box -->

                            <div id="signup-box" class="signup-box widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header green lighter bigger">
                                            <i class="ace-icon fa fa-users blue"></i>
                                            New User Registration
                                        </h4>

                                        <div class="space-6"></div>
                                        <p> Enter your details to begin: </p>

                                        <form>
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="email" class="form-control" placeholder="Email" />
                                                        <i class="ace-icon fa fa-envelope"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Username" />
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="form-control" placeholder="Password" />
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="form-control" placeholder="Repeat password" />
                                                        <i class="ace-icon fa fa-retweet"></i>
                                                    </span>
                                                </label>

                                                <label class="block">
                                                    <input type="checkbox" class="ace" />
                                                    <span class="lbl">
                                                        I accept the
                                                        <a href="#">User Agreement</a>
                                                    </span>
                                                </label>

                                                <div class="space-24"></div>

                                                <div class="clearfix">
                                                    <button type="reset" class="width-30 pull-left btn btn-sm">
                                                        <i class="ace-icon fa fa-refresh"></i>
                                                        <span class="bigger-110">Reset</span>
                                                    </button>

                                                    <button type="button" class="width-65 pull-right btn btn-sm btn-success">
                                                        <span class="bigger-110">Register</span>

                                                        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>

                                    <div class="toolbar center">
                                        <a href="#" data-target="#login-box" class="back-to-login-link">
                                            <i class="ace-icon fa fa-arrow-left"></i>
                                            Back to login
                                        </a>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.signup-box -->
                        </div><!-- /.position-relative -->
                        @*<div class="navbar-fixed-top align-right">
                                <br />
                                &nbsp;
                                <a id="btn-login-dark" href="#">Default</a>
                                &nbsp;
                                <span class="blue">/</span>
                                &nbsp;
                                <a id="btn-login-blur" href="#">Blur</a>
                                &nbsp;
                                <span class="blue">/</span>
                                &nbsp;
                                <a id="btn-login-light" href="#">Light</a>
                                &nbsp; &nbsp; &nbsp;
                            </div>*@
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->

    <script src="~/assets/js/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {
            $(document).on('click', '.toolbar a[data-target]', function (e) {
                e.preventDefault();
                var target = $(this).data('target');
                $('.widget-box.visible').removeClass('visible');//hide others
                $(target).addClass('visible');//show target
            });
        });



        //you don't need this, just used for changing background
        jQuery(function ($) {
            $('#btn-login-dark').on('click', function (e) {
                $('body').attr('class', 'login-layout');
                $('#id-text2').attr('class', 'white');
                $('#id-company-text').attr('class', 'blue');

                e.preventDefault();
            });
            $('#btn-login-light').on('click', function (e) {
                $('body').attr('class', 'login-layout light-login');
                $('#id-text2').attr('class', 'grey');
                $('#id-company-text').attr('class', 'blue');

                e.preventDefault();
            });
            $('#btn-login-blur').on('click', function (e) {
                $('body').attr('class', 'login-layout blur-login');
                $('#id-text2').attr('class', 'white');
                $('#id-company-text').attr('class', 'light-blue');

                e.preventDefault();
            });
        });
    </script>
</body>
</html>
