@using Syncfusion.EJ2;
@model MVCApp.Models.GoodsRecivingatStoreModel

<style>

    #divLoader {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        background-image: @Url.Content("~/Image/Loader.gif");
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10000000;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }
    .the-legend {
        box-shadow: 0px 1px 5px #7f8b8f;
    }
    ol, ul {
        margin: 5px 0px 1px 1px;
    }
    .tab-content {
        padding: 6px 0px 0px 0px;
    }
    .adj {
        float: right !important;
        margin: -2px 51px 4px 0;
    }
    .Popup-td {
    width:25%;
    }
    #myTable thead tr {
        background: #438eb961;
    }

    table.dataTable th,
    table.dataTable td {
        white-space: normal;
    }

    /*#myTable tbody tr:hover {
        background-color: #2f3031;
        cursor: pointer;
        color: white;
        font-weight: 600;
        border: 1PX solid #979c9d;
    }*/

    table.dataTable tr.even {
        background-color: #e1f0f5;
        border: 1px lightgrey;
        color: black;
    }

    .dataTable > thead > tr > th[class*=sorting_] {
        color: black;
        font-weight: 700;
    }

    .dataTables_filter input[type="search"] {
        width: 209px;
    }
    .notice {
        font-size: 20px;
        border: 2px solid #000000;
        border-radius: 120px;
        width: 20px;
        background: #ff8d007a;
         height: 18px;
    }
    .notice1 {
        font-size: 20px;
        border: 2px solid #000000;
        border-radius: 120px;
        width: 20px;
        background: #dae61c38;
        height: 18px;
    }
    .notice2 {
        font-size: 20px;
        border: 2px solid #000000;
        border-radius: 120px;
        width: 20px;
        background: #c3f7ffe0;
        height: 18px;
    }
    .notice3 {
        font-size: 20px;
        border: 2px solid #000000;
        border-radius: 120px;
        width: 20px;
        background: #ffb8b8;
        height: 18px;
    }

    .st {
        margin: -9px 0 0 160px;
    }
    div.dataTables_processing {
        z-index: 1;
    }
</style>


<div id="divLoader" style="display:none;">
    <img src="@Url.Content("~/Image/Loader.gif")" alt="Loader" style="margin-top:15%; margin-left:50%" />
</div>
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.Action("Index", "Home")">Home</a>
        </li>
        <li>
            <a href="#">Quality Inspection</a>
        </li>
    </ul>
    <div id="DIV_UNDT" style="float:right; background-color:#409cc7; height: 35px; width: 500px;margin-top: 3px;margin-right: 34px;color: white;"></div>
</div>
<div class="page-content">
    <div class="container" style="width:100%!important">
        <div id="alert"></div>
    </div>
    <ul class="nav nav-pills">
        <li class="bg-light active"><a data-toggle="tab" href="#Menu1">Inspection</a></li>
        <li class="bg-light"><a data-toggle="tab" href="#Menu2">Report</a></li>
        <li class="bg-light"><a data-toggle="tab" href="#Menu3">New MRN</a></li>


    </ul>
    <div class="tab-content">
        <div id="Menu1" class="tab-pane fade in active">
            <div class="container" style="width:100%!important">
                <div class="form-horizontal form-group ">
                    <fieldset class="the-fieldset bg-info">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="PLANT" class="text-right control-label col-form-label"><strong>Plant</strong></label>
                                @Html.DropDownListFor(model => model.PLANT, Enumerable.Empty<SelectListItem>(), new { @class = "form-control  input-sm" })
                            </div>
                            <div class="col-md-2" style="width: 22%;">
                                <label for="FAMILY" class="text-right control-label col-form-label"><strong>Family</strong></label>
                                @Html.DropDownListFor(model => model.FAMILY, Enumerable.Empty<SelectListItem>(), new { @class = "form-control  input-sm" })
                            </div>

                            <div class="col-md-2">
                                <label for="fname" class="control-label col-form-label"><strong>FROM DATE</strong></label>
                                @Html.EJS().DatePickerFor(Model => Model.FROMDATE_INSP).Format("dd-MMM-yyyy").Value(ViewBag.DefaultDateQuality).Render()
                            </div>
                            <div class="col-md-2">
                                <label for="fname" class="control-label col-form-label"><strong>TO DATE</strong></label>
                                @Html.EJS().DatePickerFor(Model => Model.TODATE_INSP).Format("dd-MMM-yyyy").Value(ViewBag.DefaultDateQuality).Render()
                            </div>
                            <div class="col-md-2" style="width: 6%;padding-top: 25px;">
                                <button class="btn btn-warning btn-sm" type="button" id="SearchInspection"><i class="ace-icon fa fa-search bigger-110"></i><strong>Search</strong></button>
                            </div>
                            <div class="col-md-1 control-label col-form-label" style="width: 12%;padding-top: 25px;">
                                <button class="btn btn-success btn-sm" type="button" id="Submit"><i class="ace-icon fa fa-plus-square bigger-110"></i><strong>Submit</strong></button>
                            </div>
                            <div class="col-md-1 control-label col-form-label" style="width: 6%;padding-top: 25px;">
                                <button class="btn btn-default btn-sm " type="button" id="Export"><i class="fa fa-file-excel-o"></i><strong> Export</strong></button>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="row st">
                    <div class="col-md-1 notice"></div>
                    <div class="col-md-2">HOLD ITEMS</div>
                    <div class="col-md-1 notice1"></div>
                    <div class="col-md-2">NOT ACCEPTED</div>

                    <div class="col-md-1 notice2"></div>
                    <div class="col-md-2">REV EQUALS BOM</div>
                    <div class="col-md-1 notice3"></div>
                    <div class="col-md-2">REV NOT EQUALS BOM</div>

                </div>
                <div>
                    <table id="myTable" class="display nowrap table table-striped dt-responsive" style="width:100%">
                        <thead>
                            <tr style="background-color: #f4f4f4;">
                                <th>INSPECTION</th>
                                <th>@*AUTOID*@</th>
                                <th>MRN</th>
                                <th>ITEM CODE</th>
                                <th>DESCRIPTION</th>
                                <th>V.NAME</th>
                                <th>V.CODE</th>
                                <th>CREATED DATE</th>
                                <th>CREATED TIME</th>
                                <th>REV</th>
                                <th>BOM</th>
                                <th>QTY</th>
                                <th>QTY_REC</th>
                                <th>PU NAME</th>
                                <th>COUNT DATE</th>
                                <th>MT</th>
                                <th>COUNT</th>
                                <th>STATUS</th>
                                <th>DAYS DIF</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>


            <div class="modal fade" id="RejectionPopUp" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">Verify Box Balance Qty</h4>
                        </div>
                        <div class="modal-body">
                            <table id=DynamicTable class="table table-bordered"></table>
                            <input type="text" id="tbRemarks" placeholder="Enter Rejection Reason" autocomplete="off" />
                            <button type="button" id="UpdateQty" class="btn btn-default">Update</button>
                        </div>
                        @*<div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>*@
                    </div>

                </div>
            </div>
            <div class="modal fade" id="HoldPopUp" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">Reason for Hold</h4>
                        </div>
                        <div class="modal-body">
                            <table id=HoldTable class="table table-bordered"></table>
                            <input type="text" id="tbHold" placeholder="Enter Hold Reason" autocomplete="off" />
                            <button type="button" id="UpdateHold" class="btn btn-default">Update</button>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <div id="Menu2" class="tab-pane fade">
            <div class="container" style="width:100%!important; MARGIN-BOTTOM:7px;">
                <fieldset class="the-fieldset bg-info">
                    <div class="form-horizontal form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="fname" class="control-label col-form-label"><strong>FROM DATE</strong></label>
                                @Html.EJS().DatePickerFor(Model => Model.FROMDATE).Format("dd-MMM-yyyy").Value(ViewBag.DefaultDate).Render()
                            </div>
                            <div class="col-md-2">
                                <label for="fname" class="control-label col-form-label"><strong>TO DATE</strong></label>
                                @Html.EJS().DatePickerFor(Model => Model.TODATE).Format("dd-MMM-yyyy").Value(ViewBag.DefaultDate).Render()
                            </div>
                            <div class="col-md-1" style="width: 6%;padding-top: 23px;">
                                <button class="btn btn-success btn-sm" type="button" id="GetHistoryGrd"><i class="ace-icon fa fa-plus-square bigger-110"></i><strong>Submit</strong></button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div id="T2_grid"></div>
        </div>
        <div id="Menu3" class="tab-pane fade">

            <div class="row">
                <div class="col-md-12">
                    <div class="adj"><button type="button" id="newMrn" style="background-color: beige;"><i class="fa fa-refresh" aria-hidden="true"></i><strong> Refresh</strong></button></div>
                </div>
            </div>


            <div id="T3_grid"></div>

        </div>
    </div>



</div>

<script src="@Url.Content("~/assets/js/jquery-2.1.4.min.js")"></script>
<script src="@Url.Content("~/Scripts/ej2/ej2.min.js")"></script>
<script src="@Url.Content("~/Content/select2/dist/js/select2.min.js")"></script>
<link href="@Url.Content("~/Content/select2/dist/css/select2.min.css")" rel="stylesheet" />
<link href="~/Scripts/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTable/jquery.dataTables.min.js"></script>
<link href="~/Scripts/DataTable/Custom.css" rel="stylesheet" />

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


@*Script for First Tab*@
<script>
    var qr; var MediaType;
    $(document).ready(function () {
        $.noConflict();
        DDLPlant();
        DisplayUNDT();
        var myVar = setInterval(DisplayUNDT, 1000);
        BindGrid_History();
        BindGrid_NewMRN();

    });
    function DDLPlant() {
        $.ajax({
            url: '@Url.Action("BindPlant", "QualityMaster")',
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                $.each(result, function (i) {
                    var optionhtml = '<option value="' + result[i].Value + '">' + result[i].Text + '</option>';
                    $("#PLANT").append(optionhtml);
                });


                DDLFamilyByPlant();
        },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
        });
    };
     function DDLFamilyByPlant() {
         var selectedValue = $("#PLANT").val();
        $.ajax({
            url: '@Url.Action("BindFamily", "QualityMaster")',
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify({ Plant: selectedValue }),
            success: function (result) {
                $("#FAMILY").html(null);
                $.each(result, function (i) {
                    var optionhtml = '<option value="' + result[i].Value + '">' + result[i].Text + '</option>';

                    $("#FAMILY").append(optionhtml);
                });
                BindGrid();
        },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
        });
    };
    $("#PLANT").on("change", function () {
        DDLFamilyByPlant();

    });

    $("#Export").on("click", function () {
        DownloadExcel();
    });
     function DownloadExcel() {

         $("#divLoader").show();
         var Data = {
             PLANT : $('#PLANT').val(),
             FAMILY : $('#FAMILY').val(),
             FROMDATE_INSP : $('#FROMDATE_INSP').val(),
             TODATE_INSP : $('#TODATE_INSP').val()
         };
            $.ajax({
                url: '@Url.Action("ExportQuality", "QualityMaster")',
                type: "POST",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(Data),
                //dataType: "json",
                success: function (data) {
                    if (data.ErrorNo == "1") {
                        $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                        setTimeout(function () {
                            $.each($('.alert'), function () {
                                closeAlert(this);
                            });
                        }, 5000);
                    }

                    else {
                        $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                        setTimeout(function () {
                            $.each($('.alert'), function () {
                                closeAlert(this);
                            });
                        }, 5000);
                        var file = data.ExcelName + ".xlsx";
                    window.location.href = "@Url.RouteUrl(new{ Controller = "QualityMaster", Action = "Download"})/?file=" + file;

                    }

                },
                complete: function () {
                    $("#divLoader").hide();
                },
                error: function (errormessage) {

                }
            });
    }

    $("#GetHistoryGrd").on("click", function () {
        BindGrid_History();
    });

    $("#SearchInspection").on("click", function () {
        CheckFromDays();
        /*BindGrid();*/
    });
    function CheckFromDays() {

         $("#divLoader").show();
         var Data = {
             PLANT : $('#PLANT').val(),
             FAMILY : $('#FAMILY').val(),
             FROMDATE_INSP : $('#FROMDATE_INSP').val(),
             TODATE_INSP : $('#TODATE_INSP').val()
         };
            $.ajax({
                url: '@Url.Action("CheckQCFromDays", "QualityMaster")',
                type: "POST",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(Data),
                //dataType: "json",
                success: function (data) {
                    if (data.ErrorNo == "1") {
                        $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                        setTimeout(function () {
                            $.each($('.alert'), function () {
                                closeAlert(this);
                            });
                        }, 5000);
                        if ($.fn.DataTable.isDataTable("#myTable")) {
                            $('#myTable').DataTable().clear().destroy();
                        }
                       
                    }

                    else {
                        
                        BindGrid();
                    }

                },
                complete: function () {
                    $("#divLoader").hide();
                },
                error: function (errormessage) {

                }
            });
    }
    function BindGrid() {
       /* $("#divLoader").show();*/

        var times = [
            "SELECT",
            "NOT ACCEPTED",
            "ACCEPTED",
            "HOLD"
        ];
        $('#myTable').DataTable().destroy();

        var dtable = $("#myTable").DataTable({
            "scrollX": true,
           "scrollY": 492,
           language: {
               search: "Search by Item or MRN or Vendor",
               searchPlaceholder: "Enter min 3 characters"
           },
            "lengthChange": false,
            "pageLength": 30,
            "ordering": false,
           "processing": true, // for show progress bar
           //language: {
           //    processing: '<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>'
           //},
           "serverSide": true, // for process server side
           "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {

              /*  "url": "/QualityMaster/Grid",*/
                "url": '@Url.Action("Grid", "QualityMaster")',
                "data": function (obj) {
                    obj.PLANT = $('#PLANT').val();
                    obj.FAMILY = $('#FAMILY').val();
                    obj.FROMDATE_INSP = $('#FROMDATE_INSP').val();
                    obj.TODATE_INSP = $('#TODATE_INSP').val();
                },
                "type": "POST",
                "datatype": "json"
           },

           "rowCallback": function (row, data, index) {

                if (data["QUALITY_OK"] === "OK" && data["ITEM_REVISION"] === data["BOM_REVISION"]) {
                    $('td', row).css('background-color', '#57e61c38');
                } else if (data["QUALITY_OK"] !== "OK" && data["ITEM_REVISION"] !== data["BOM_REVISION"]) {
                    $('td', row).css('background-color', '#ffb8b8');
                }
                else if (data["QUALITY_OK"] !== "OK" && data["ITEM_REVISION"] == data["BOM_REVISION"]) {
                    $('td', row).css('background-color', '#c3f7ffe0'); //not verified
                }
                else if (data["QUALITY_OK"] === "OK" && data["ITEM_REVISION"] !== data["BOM_REVISION"]) {
                    $('td', row).css('background-color', '#ff9d9d');
                }
               if (data["TYPE"] === "QC_HOLD") {

                    $('td', row).css('background-color', '#ff8d007a');
                }
                else if (data["TYPE"] === "QC_BOX" || data["TYPE"] === "QC_WEB") {
                    $('td', row).css('background-color', '#dae61c38');
                }

            },


            "columns": [
                {
                    "render": function (d, t, r) {

                        var $select = $("<select></select>", {
                            "class": "DDL_Inspection"

                        });
                        $.each(times, function (k, v) {
                            var $option = $("<option></option>", {
                                "text": v,
                                "value": v
                            });
                            if ("SELECT" === v) {
                                $option.attr("selected", "selected")
                            }
                            //if ("NOT ACCEPTED" === v) {
                            //    $option.addClass("popup")
                            //}
                            $select.append($option);
                        });
                        return $select.prop("outerHTML");
                    }
                },
                { "data": "AUTOID", "name": "AUTOID", "autoWidth": false, visible: false },
                { "data": "MRN_NO", "name": "MRN_NO", "autoWidth": false },
                { "data": "ITEMCODE", "name": "ITEMCODE", "autoWidth": false },
                { "data": "ITEM_DESCRIPTION", "name": "ITEM_DESCRIPTION", "autoWidth": false },
                { "data": "VENDOR_NAME", "name": "VENDOR_NAME", "autoWidth": false },
                { "data": "VENDOR_CODE", "name": "VENDOR_CODE", "autoWidth": false },
                { "data": "CREATEDDATE", "name": "CREATEDDATE", "autoWidth": false },
                { "data": "CREATEDTIME", "name": "CREATEDTIME", "autoWidth": false },
                { "data": "ITEM_REVISION", "name": "ITEM_REVISION", "autoWidth": false },
                { "data": "BOM_REVISION", "name": "BOM_REVISION", "autoWidth": false },
                { "data": "QUANTITY", "name": "QUANTITY", "autoWidth": false },
                { "data": "QTY_RECEIVED", "name": "QTY_RECEIVED", "autoWidth": false },
                { "data": "PUNAME", "name": "PUNAME", "autoWidth": false },
                { "data": "COUNTING", "name": "COUNTING", "autoWidth": false },
                { "data": "MT_TEST", "name": "MT_TEST", "autoWidth": false },
                { "data": "CNT", "name": "CNT", "autoWidth": false },
                { "data": "STATUS", "name": "STATUS", "autoWidth": false },
                { "data": "DAYS_DIFFERENCE", "name": "DAYS_DIFFERENCE", "autoWidth": false }


            ],
            columnDefs: [
                {
                    targets: [6,7,8,9,10,11,12,13,14,15,16,17,18],
                    className: 'dt-body-center'
                }
            ]

        });
        $(".dataTables_filter input")
            .unbind() // Unbind previous default bindings
            .bind("input", function (e) { // Bind our desired behavior
                // If the length is 3 or more characters, or the user pressed ENTER, search
                if (this.value.length >= 3 || e.keyCode == 13) {
                    // Call the API search function
                    dtable.search(this.value).draw();
                }
                // Ensure we clear the search if they backspace far enough
                if (this.value == "") {
                    dtable.search("").draw();
                }
                return;
            });
    }


    $('#myTable').on('change', '.DDL_Inspection', function () {
        var data = $('#myTable').DataTable().row($(this).closest('tr')).data();
        var Data = [];
        if ($(this).val() == "NOT ACCEPTED") {

            var obj = {

                AUTOID: data['AUTOID'],
                MRN_NO: data['MRN_NO'],
                ITEMCODE: data['ITEMCODE'],
                QUANTITY: data['QUANTITY']
            };

            Data.push(obj);
        }
        else if ($(this).val() == "HOLD") {

            $('#tbHold').val(null);
            $('#HoldTable tr').remove();
            var added_row = " <thead><tr><th>MRN</th><th>Item Code</th><th>Qty</th><th></th></tr></thead>";

                added_row += '<tr>'
                    + '<td>' + data['MRN_NO'] + '</td>'
                    + '<td>' + data['ITEMCODE'] + '</td>'
                    + '<td>' + data['QTY_RECEIVED'] + '</td>'
                    + '<td style="display:none;">' + data['AUTOID'] + '</td>'
                    + '</tr>'
            $('#HoldTable').append(added_row);
            $("#HoldPopUp").modal("show");

        }


        if (Data.length > 0) {

            CheckBoxes(Data);
        }

    });
    $("#UpdateHold").click(function () {
        var HoldData = [];
        $("#HoldTable tbody tr").each(function () {
            var obj = {
                    MRN_NO: $(this).find("td:eq(0)").text(),
                    ITEMCODE: $(this).find("td:eq(1)").text(),
                    QTY_RECEIVED: $(this).find("td:eq(2)").text(),
                    AUTOID: $(this).find("td:eq(3)").text(),
                    Remarks: $("#tbHold").val()

                };
            HoldData.push(obj);

        });

        if (HoldData.length > 0) {

            UpdateHoldQty(HoldData);
        }
    });
    function UpdateHoldQty(HoldData) {

        $.ajax({
            url: '@Url.Action("UpdateHoldQty", "QualityMaster")',
            data: JSON.stringify(HoldData),
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            success: function (data) {

                if (data.validation.includes("error")) {
                    alert(data.Msg);

                }

                else {
                    $("#HoldPopUp").modal("hide");
                    $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    setTimeout(function () {
                        $.each($('.alert'), function () {
                            closeAlert(this);
                        });
                    }, 5000);


                    $("#myTable").DataTable().ajax.reload();
                }

            },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
        });
    }
    function CheckBoxes(Data) {
         $.ajax({
            url: '@Url.Action("CheckBoxes", "QualityMaster")',
            data: JSON.stringify(Data),
            type: "POST",
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
             success: function (response) {
                 $('#tbRemarks').val(null);
                 $('#DynamicTable tr').remove();
                 if (response.validation.includes("error")) {
                    $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    setTimeout(function () {
                        $.each($('.alert'), function () {
                            closeAlert(this);
                        });
                    }, 5000);
                }

                 else {
                     if (response.Msg.includes("DCU")) {
                         MediaType = response.Msg;
                         var added_row = "<thead><tr><th>MRN</th><th>Item Code</th><th>BoxNo</th><th>Last Qty</th><th>Rejected Qty</th></tr></thead>";
                         for (var i = 0; i < response.data.length; i++) {
                             var mrn = response.data[i].MRN_NO;
                             var itemcode = response.data[i].ITEMCODE;
                             var boxNo = 'Box' + response.data[i].boxNo;
                             var lastQty = response.data[i].QUANTITY;
                             var rejectQty = '<input name = "DynamicTb" placeholder="Enter Rejected Qty" value="0" autocomplete="off" type="text" />';
                             //We then append them to a string in html fashion
                             added_row += '<tr>'
                                 + '<td>' + mrn + '</td>'
                                 + '<td>' + itemcode + '</td>'
                                 + '<td>' + boxNo + '</td>'
                                 + '<td>' + lastQty + '</td>'
                                 + '<td>' + rejectQty + '</td>'
                                 + '</tr>'
                         }

                             $('#DynamicTable').append(added_row);

                         $("#RejectionPopUp").modal("show");
                     }
                     else if (response.Msg.includes("WEB")) {
                         MediaType = response.Msg;
                         var added_row = " <thead><tr><th>MRN</th><th>Item Code</th><th>Last Qty</th><th>Rejected Qty</th></tr></thead>";
                         for (var i = 0; i < response.data.length; i++) {
                             var mrn = response.data[i].MRN_NO;
                             var itemcode = response.data[i].ITEMCODE;
                             var lastQty = response.data[i].QTY_RECEIVED;
                             var rejectQty = '<input name = "DynamicTb" placeholder="Enter Rejected Qty" value="0" autocomplete="off" type="text" />';
                             //We then append them to a string in html fashion
                             added_row += '<tr>'
                                 + '<td>' + mrn + '</td>'
                                 + '<td>' + itemcode + '</td>'
                                 + '<td>' + lastQty + '</td>'
                                 + '<td>' + rejectQty + '</td>'
                                 + '</tr>'
                         }

                             $('#DynamicTable').append(added_row);

                         $("#RejectionPopUp").modal("show");
                     }

                 }

                },


            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
        });

    }


    $("#UpdateQty").click(function () {
        var Data = [];
        $("#DynamicTable tbody tr").each(function () {
            var self = $(this);
            if (MediaType == 'DCU') {
                var obj = {

                    Media_Type: MediaType,
                    MRN_NO: $(this).find("td:eq(0)").text(),
                    ITEMCODE: $(this).find("td:eq(1)").text(),
                    boxNo: $(this).find("td:eq(2)").text(),
                    QUANTITY: $(this).find("td:eq(3)").text(),
                    REJECT_QTY: self.find('input[name="DynamicTb"]').val(),
                    Remarks: $("#tbRemarks").val()

                };
                Data.push(obj);
            }
           else if (MediaType == 'WEB') {
                var obj = {

                    Media_Type: MediaType,
                    MRN_NO: $(this).find("td:eq(0)").text(),
                    ITEMCODE: $(this).find("td:eq(1)").text(),
                    QUANTITY: $(this).find("td:eq(2)").text(),
                    REJECT_QTY: self.find('input[name="DynamicTb"]').val(),
                    Remarks: $("#tbRemarks").val()

                };
                Data.push(obj);
            }

        });
        /*console.log(Data);*/
        if (Data.length > 0) {
            //console.log(Data.length)
            UpdateRejectQty(Data);
        }
    });

    function UpdateRejectQty(Data) {

        $.ajax({
            url: '@Url.Action("UpdateRejectQty", "QualityMaster")',
            data: JSON.stringify(Data),
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            success: function (data) {

                if (data.validation.includes("error")) {
                    alert(data.Msg);

                }

                else {
                    $("#RejectionPopUp").modal("hide");
                    $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    setTimeout(function () {
                        $.each($('.alert'), function () {
                            closeAlert(this);
                        });
                    }, 5000);


                    $("#myTable").DataTable().ajax.reload();
                }

            },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
        });
    }




    $("#Submit").click(function () {

        var Data = [];
        $("#myTable tbody tr").each(function () {

            var self = $(this);

            var currentRow = self.closest("tr");

            var data = $('#myTable').DataTable().row(currentRow).data();
            if (data == undefined || data == null) {

                alert("No record available for updation");

                return false;
            }
            else if (self.find(".DDL_Inspection option:selected").val() == "ACCEPTED") {
                var obj = {

                    AUTOID: data['AUTOID'],
                    MRN_NO: data['MRN_NO'],
                    ITEMCODE: data['ITEMCODE'],
                    QTY_RECEIVED: data['QTY_RECEIVED'],
                    QUALITY_OK: self.find(".DDL_Inspection option:selected").val()
                };

                Data.push(obj);

            }

        });
        if (Data.length > 0) {
            //console.log(Data.length)
            updateGrid(Data);
        }
        else {
            //alert("Choose atleast One Accepted Option..");

            //return false;
        }
    });

    function updateGrid(Data) {

         $.ajax({
             beforeSend: function () {
                 $("#divLoader").show();
             },
            url: '@Url.Action("Edit", "QualityMaster")',
            data: JSON.stringify(Data),
            type: "POST",
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
             success: function (data) {
                 $("#divLoader").hide();
                if (data.validation.includes("error")) {
                    $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    setTimeout(function () {
                        $.each($('.alert'), function () {
                            closeAlert(this);
                        });
                    }, 5000);
                }

                else {
                    $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    setTimeout(function () {
                        $.each($('.alert'), function () {
                            closeAlert(this);
                        });
                    }, 5000);
                    $("#myTable").DataTable().ajax.reload();

                }

            },
            error: function (errormessage) {
            //alert(errormessage.responseText);
             },
             complete: function () {
                 $("#divLoader").hide();
             }
        });

    }
    function closeAlert(alert) {

        $(alert).hide();
    };
    function BindGrid_History() {
        var Data = {
            FROMDATE: $('#FROMDATE').val(),
            TODATE: $('#TODATE').val()
        };
        $("#divLoader").show();
        $.ajax({
            url: '@Url.Action("Grid_Report", "QualityMaster")',
            data: JSON.stringify(Data),
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                $("#T2_grid").html(result);
                $("#divLoader").hide();
            },
            error: function (errormessage) {

            }
        });
    };
    $("#newMrn").on("click", function () {
        BindGrid_NewMRN();
    });
    function BindGrid_NewMRN() {
        $("#divLoader").show();
        $.ajax({
            url: '@Url.Action("Grid_NewMRN", "QualityMaster")',
            //data: JSON.stringify(Data),
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                $("#T3_grid").html(result);
                $("#divLoader").hide();
            },
            error: function (errormessage) {

            }
        });
    };

    function DisplayUNDT() {
        $.ajax({
            url: '@Url.Action("LoginUserDateTime", "Account")',
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                $("#DIV_UNDT").html(result)
            },
            error: function (errormessage) {

            }
        });
    };
    $("#PLANT").select2({
        allowClear: true,
        width: '100%',
    });
    $("#FAMILY").select2({
        allowClear: true,
        width: '100%',
    });

</script>

