<div class="container" style="width:100%!important">
    <style>
        .e-headercell {
            background-color: #14567e !important;
            color: white;
        }

        .e-summarycell {
            background-color: #8fbfdc !important;
        }
    </style>
    <div class="row">
        <div class="col-md-12">
            <div class="bg-primary" style="padding-top:5px; padding-left:5px;">
                <center>
                    <label style="color:white;">@ViewBag.heading</label>
                    <label style="color: white;padding-right: 10px;" class="pull-right"><strong>TOTAL RECORD : @ViewBag.Total </strong></label>
                </center>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        @(Html.EJS().Grid("GrdBulkStorageItem").DataSource((System.Data.DataTable)ViewBag.DataSource).
            Height("400").
            PageSettings(Page => Page.PageSize(25)).
            AllowSelection(false).
            AllowPaging().
            AllowResizing().
            AllowExcelExport().
            ToolbarClick("toolbarClick").
            AllowFiltering().
            AllowGrouping().
            AllowSorting().
            Columns(col =>
            {
                col.Field("ITEMCODE").HeaderText("ITEM_CODE").Width("130").Add();
                col.Field("ITEM_DESCRIPTION").HeaderText("ITEM_DESCRIPTION").Width("330").Add();
                col.Field("QUANTITY").HeaderText("QTY").Width("100").Add();
                col.Field("QUANTITY_PER_TRACTOR").HeaderText("Quantity Per Tractor").Width("140").Add();
                col.Field("USAGE_PER_TRACTOR").HeaderText("Usage/Tractor").Width("140").Add();
                col.Field("LOCATION_CODE").HeaderText("LOCATION").Width("120").Add();
                //col.Field("CREATEDBY").HeaderText("CREATEDBY").Width("130").Add();
                //col.Field("CREATEDDATE").HeaderText("CREATEDDATE").Add();
            }).
            Toolbar(new List<string>() { "ExcelExport" }).
            Render())
        <script>
            function toolbarClick(args) {
                var gridObj = document.getElementById("GrdBulkStorageItem").ej2_instances[0];
                gridObj.excelExport();
            }
           
        </script>
    </div>
</div>
<script src="@Url.Content("~/Scripts/ej2/ej2.min.js")"></script>

@Html.EJS().ScriptManager()
