<div class="container" style="width:100%!important">
    <style>
        .e-headercell {
            background-color: #14567e !important;
            color: white;
        }

        .e-summarycell {
            background-color: #8fbfdc !important;
        }
    </style>
    <div class="row">
        <div class="col-md-12">
            <div class="bg-primary" style="padding-top:5px; padding-left:5px;">
                <center>
                    <label style="color:white;">@ViewBag.heading</label>
                    <label style="color: white;padding-right: 10px;" class="pull-right"><strong>TOTAL RECORD : @ViewBag.Total </strong></label>
                </center>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        @(Html.EJS().Grid("GrdDaily_Crane").DataSource((System.Data.DataTable)ViewBag.DataSource).
            Height("400").
            AllowSelection(false).            
            AllowResizing().
            AllowExcelExport().
            ToolbarClick("toolbarClick").
            AllowFiltering().
            AllowGrouping().
            AllowSorting().EnableColumnVirtualization().EnableVirtualization().
            Columns(col =>
            {
                col.Field("ITEM_CODE").HeaderText("ITEM CODE").Add();
                col.Field("DESCRIPTION").HeaderText("DESCRIPTION").Add();
                col.Field("JOBID").HeaderText("JOB ID").Add();
                col.Field("CHASISNO").HeaderText("CHASIS NO.").Add();
                col.Field("ENGINE_DCODE").HeaderText("ENGINE DCODE").Add();
                col.Field("ENGINE_DESC").HeaderText("ENGINE DESC").Add();
                col.Field("ENGINE_SRNO").HeaderText("ENGINE SR. NO.").Add();
                col.Field("CREATEDDATE").HeaderText("CREATEDDATE").Add();

            }).
            Toolbar(new List<string>() { "ExcelExport" }).            
            Render())
        <script>
            function toolbarClick(args) {
                var gridObj = document.getElementById("GrdDaily_Crane").ej2_instances[0];
                gridObj.excelExport();
            }
        </script>
    </div>
</div>
<script src="@Url.Content("~/Scripts/ej2/ej2.min.js")"></script>

@Html.EJS().ScriptManager()





