<div class="container" style="width:100%!important">
    <style>
        .e-headercell {
            background-color: #14567e !important;
            color: white;
        }

        .e-summarycell {
            background-color: #8fbfdc !important;
        }
    </style>
    <div class="row">
        <div class="col-md-12">
            <div class="bg-primary" style="padding-top:5px; padding-left:5px;">
                <center>
                    <label style="color:white;">@ViewBag.heading</label>
                    <label style="color: white;padding-right: 10px;" class="pull-right"><strong>TOTAL RECORD : @ViewBag.Total </strong></label>
                </center>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        @(Html.EJS().Grid("GrdJOBDATA").DataSource((System.Data.DataTable)ViewBag.DataSource).
            Height("400").
            AllowSelection(false).
            AllowResizing().
            AllowExcelExport().
            ToolbarClick("toolbarClick").
            AllowFiltering().
            AllowGrouping().
            AllowSorting().EnableColumnVirtualization().EnableVirtualization().
            Columns(col =>
            {
                col.Field("PLAN_ID").HeaderText("PLAN_ID").Add();
                col.Field("PLAN_DATE").HeaderText("PLAN_DATE").Add();
                col.Field("SHIFTCODE").HeaderText("SHIFTCODE").Add();
                col.Field("EXPECTED_QTY").HeaderText("EXPECTED_QTY").Add();
                col.Field("ITEM_CODE").HeaderText("ITEM_CODE").Add();
                col.Field("QTY").HeaderText("QTY").Add();
                col.Field("JOBID").HeaderText("JOBID").Add();
            }).
            Toolbar(new List<string>() { "ExcelExport" }).
            Render())
        <script>
            function toolbarClick(args) {
                var gridObj = document.getElementById("GrdJOBDATA").ej2_instances[0];
                gridObj.excelExport();
            }
        </script>
    </div>
</div>
<script src="@Url.Content("~/Scripts/ej2/ej2.min.js")"></script>

@Html.EJS().ScriptManager()















