<div class="container" style="width:100%!important">
    <style>
        .e-headercell {
            background-color: #14567e !important;
            color: white;
        }

        .e-summarycell {
            background-color: #8fbfdc !important;
        }
    </style>
    <div class="row">
        <div class="col-md-12">
            <div class="bg-primary" style="padding-top:5px; padding-left:5px;">
                <center>
                    <label style="color:white;">@ViewBag.heading</label>
                    <label style="color: white;padding-right: 10px;" class="pull-right"><strong>TOTAL RECORD : @ViewBag.Total </strong></label>
                </center>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        @(Html.EJS().Grid("GrdSmFaulty").DataSource((System.Data.DataTable)ViewBag.DataSource).
            //Height("400").
            AllowPaging(true).
            PageSettings(Page => Page.PageSize(15)).
            AllowSelection(false).
            AllowResizing().
            AllowExcelExport().
            ToolbarClick("toolbarClick").
            AllowFiltering().
            AllowGrouping().
            AllowSorting().
            Columns(col =>
            {
                col.Field("PLANT_CODE").HeaderText("PLANT").Width("100").Add();
                col.Field("FAMILY_CODE").HeaderText("FAMILY").Width("130").Add();
                col.Field("ITEMCODE").HeaderText("ITEM CODE").Width("130").Add();
                col.Field("LAST_KNOWN_QTY").HeaderText("LAST_KNOWN_QTY").Width("115").Add();
                col.Field("QUANTITY").HeaderText("QUANTITY").Width("110").Add();
                col.Field("REMARKS").HeaderText("REMARKS").Width("150").Add();
                col.Field("CREATEDBY").HeaderText("CREATEDBY").Width("130").Add();
                col.Field("TYPE").HeaderText("TYPE").Width("130").Add();
                col.Field("STAGE").HeaderText("STAGE").Width("130").Add();
                col.Field("LOCATION").HeaderText("LOCATION").Width("130").Add();
                col.Field("CREATEDDATE").HeaderText("CREATEDDATE").Width("170").Add();

            }).
            Toolbar(new List<string>() { "ExcelExport" }).
            Render())
        <script>
            function toolbarClick(args) {
                var gridObj = document.getElementById("GrdSmFaulty").ej2_instances[0];
                gridObj.excelExport();
            }
        </script>
    </div>
</div>
<script src="@Url.Content("~/Scripts/ej2/ej2.min.js")"></script>

@Html.EJS().ScriptManager()


