<div class="container" style="width:100%!important">
    <style>
        .e-headercell {
            background-color: #14567e !important;
            color: white;
        }

        .e-summarycell {
            background-color: #8fbfdc !important;
        }
    </style>
    <div class="row">
        <div class="col-md-12">
            <div class="bg-primary" style="padding-top:5px; padding-Center:5px;">
                <center>
                    <label style="color:white;">@ViewBag.heading</label>
                    <label style="color: white;padding-right: 10px;" class="pull-right"><strong>TOTAL RECORD : @ViewBag.Total </strong></label>
                </center>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        @(Html.EJS().Grid("GrdTOTShowFull").DataSource((System.Data.DataTable)ViewBag.DataSource).
            Height("400").
            AllowPaging(true).
            PageSettings(Page => Page.PageSize(20)).
            AllowSelection(false).
            AllowResizing().
            AllowExcelExport().
            ToolbarClick("toolbarClick").
            AllowFiltering().
            AllowGrouping().
            AllowSorting().
            //AllowSorting().EnableColumnVirtualization().
            Columns(col =>
            {
                col.Field("FCODE").HeaderText("FCODE").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("OIL QTY").HeaderText("OIL QTY").Width("100").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("DESCRIPTION").HeaderText("DESCRIPTION").Add();
                col.Field("JOB").HeaderText("JOB").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("BUCKLE UP DATE").HeaderText("BUCKLE UP DATE").Add();
                col.Field("TRANSMISSION").HeaderText("TRANSMISSION").Width("150").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("REARAXEL").HeaderText("REARAXEL").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("SKID").HeaderText("SKID").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("ENGINE").HeaderText("ENGINE").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("TRACTOR_NO").HeaderText("TRACTOR_NO").Width("150").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("HYDRAULIC_LIFT").HeaderText("HYDRAULIC_LIFT").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();

                col.Field("REARTYRE_SRLNO1").HeaderText("REARTYRE_SRLNO1").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("REARTYRE_SRLNO2").HeaderText("REARTYRE_SRLNO2").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("REARTYRE_MAKE").HeaderText("REARTYRE_MAKE").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("REARRIM_SRLNO1").HeaderText("RTRIM1").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("RTTYRE1").HeaderText("RTTYRE1").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("REARRIM_SRLNO2").HeaderText("RTRIM2").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();

                col.Field("FRONTTYRE_SRLNO1").HeaderText("FRONTTYRE_SRLNO1").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("FRONTTYRE_SRLNO2").HeaderText("FRONTTYRE_SRLNO2").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("FRONTTYRE_MAKE").HeaderText("FRONTTYRE_MAKE").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();

                col.Field("FRONTRIM_SRLNO1").HeaderText("FTRIM1").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("FTTYRE1").HeaderText("FTTYRE1").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("FRONTRIM_SRLNO2").HeaderText("FTRIM2").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("FTTYRE2").HeaderText("FTTYRE2").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("BATTERY_SRLNO").HeaderText("BATTERY_SRLNO").Add();
                col.Field("BATTERY_MAKE").HeaderText("BATTERY_MAKE").Add();
                col.Field("HYD_PUMP_SRLNO").HeaderText("HYD_PUMP_SRLNO").Add();

                col.Field("STEERING_MOTOR_SRLNO").HeaderText("STEERING_MOTOR_SRLNO").Add();
                col.Field("STEERING_ASSEMBLY_SRLNO").HeaderText("STEERING_ASSEMBLY_SRLNO").Add();
                col.Field("STERING_CYLINDER_SRLNO").HeaderText("STERING_CYLINDER_SRLNO").Add();
                col.Field("RADIATOR_SRLNO").HeaderText("RADIATOR_SRLNO").Add();
                col.Field("CLUSSTER_SRLNO").HeaderText("CLUSSTER_SRLNO").Add();
                col.Field("ALTERNATOR_SRLNO").HeaderText("ALTERNATOR_SRLNO").Add();

                col.Field("STARTER_MOTOR_SRLNO").HeaderText("STARTER_MOTOR_SRLNO").Add();
                col.Field("ROPS_SRNO").HeaderText("ROPS_SRNO").Add();
                col.Field("SIM_SERIAL_NO").HeaderText("SIM_SERIAL_NO").Add();
                col.Field("IMEI_NO").HeaderText("IMEI_NO").Add();
                col.Field("MOBILE").HeaderText("MOBILE").Add();
                col.Field("ROLL OUT DATE").HeaderText("ROLL OUT DATE").Add();
                col.Field("PDI OK DATE").HeaderText("PDI OK DATE").Add();
                col.Field("PDI TACK TIME").HeaderText("PDI TACK TIME").Add();
                col.Field("FIPSRNO").HeaderText("FIPSRNO").Add();
                col.Field("ECU_SRNO").HeaderText("ECU SRNO").Add();
            }).
            Toolbar(new List<string>() { "ExcelExport" }).
            Render())
        <script>
            function toolbarClick(args) {
                var gridObj = document.getElementById("GrdTOTShowFull").ej2_instances[0];
                gridObj.excelExport();
            }
        </script>
    </div>
</div>
<script src="@Url.Content("~/Scripts/ej2/ej2.min.js")"></script>

@Html.EJS().ScriptManager()








