<link href="@Url.Content("~/Content/select2/dist/css/select2.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/select2/dist/js/select2.min.js")"></script>
<div class="container" style="width:100%!important">
    <style>
        .e-headercell {
            background-color: #14567e !important;
            color: white;
        }

        .e-summarycell {
            background-color: #8fbfdc !important;
        }
        .e-treegrid .e-rowcell.OILQTY {
            background-color: grey;
            font-family: 'ALGERIAN';
            color: brown;
            font-size: 20px;
        }

        .e-grid .e-rowcell.SRNO {
            background-color: #ecedee;
            color: black;
            font-size: 30px;
            font-weight: bold;
        }
        .e-grid .e-rowcell.TOTALTRACTOR {
            background-color: #ecedee;
            color: black;
            font-size:30px;
            font-weight: bold;
        }
        .e-grid .e-rowcell.OILQTY {
            background-color: #ecedee;
            color: black;
            font-size: 30px;
            font-weight: bold;
        }
        .e-grid .e-rowcell.DATERANGE {
            background-color: #ecedee;
            color: black;
            font-size: 30px;
        }
    </style>
    <div class="row">
        <div class="col-md-12">
            <div class="bg-primary" style="padding-top:5px; padding-left:5px;">
                <center>
                    <label style="color:white;">@ViewBag.heading</label>
                    <label style="color: white;padding-right: 10px;" class="pull-right"><strong>Total Tractor Produced  : @ViewBag.Total </strong></label>
                </center>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        @{
            List<object> commands = new List<object>();
            commands.Add(new { buttonOption = new { iconCss = "e-icons e-edit", cssClass = "edit" } });
        }
        @(Html.EJS().Grid("GrdWEEKLY_OIL_FILTRATION").DataSource((System.Data.DataTable)ViewBag.DataSource).
            AllowPaging(true).Height("400").
            PageSettings(Page => Page.PageSize(20)).
            AllowSelection(false).
            AllowResizing().
            AllowExcelExport().
            ToolbarClick("toolbarClick").
            AllowFiltering().
            //AllowGrouping().
            AllowSorting().
            Columns(col =>
            {
                col.Field("SRNO").HeaderText("SR_NO").CustomAttributes(new { @class = "SRNO" }).Width("75").Add();
                col.Field("TOTALTRACTOR").HeaderText("TOTAL TRACTOR PRODUCED").CustomAttributes(new { @class = "TOTALTRACTOR" }).Add();
                col.Field("OILQTY").HeaderText("TOTAL OIL QTY").CustomAttributes(new { @class = "OILQTY" }).Add();
                col.Field("DATERANGE").HeaderText("DATE RANGE").CustomAttributes(new { @class = "DATERANGE" }).Add();
                col.HeaderText("REPORTS").Commands(commands).Width("75").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();



            }).
            Toolbar(new List<string>() { "ExcelExport" }).SelectionSettings(select => select.Type(Syncfusion.EJ2.Grids.SelectionType.Multiple)).CommandClick("commandClick").
            Render())
        <script>
            function toolbarClick(args) {
                var gridObj = document.getElementById("GrdWEEKLY_OIL_FILTRATION").ej2_instances[0];
                gridObj.excelExport();
            }
           


        </script>
    </div>
</div>
<script src="@Url.Content("~/Scripts/ej2/ej2.min.js")"></script>

@Html.EJS().ScriptManager()





