@model MVCApp.Models.BulkLayout

<style>

    #divLoader {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        background-image: @Url.Content("~/Image/Loader.gif");
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10000000;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }
    .pd-15 {
        padding: 0 15px 15px 15px;
    }
</style>
<div id="divLoader" style="display:none;">
    <img src="@Url.Content("~/Image/Loader.gif")" alt="Loader" style="margin-top:15%; margin-left:50%" />
</div>
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.Action("Index", "Home")">Home</a>
        </li>
        @*<li>
            <a href="#">Masters</a>
        </li>*@
        <li class="active">
            Layout
        </li>
    </ul>
</div>

<div class="page-content">
    <div class="container" id="alert">
        @if (TempData["msg"] != null && TempData["msgType"] != null)
        {
            <div class="alert @TempData["msgType"]" role="alert">
                <strong>@TempData["msg"]</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="ViewLayoutModel" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 90%;height: 95%;padding: 1%;">
        <div class="modal-content" style="height:auto; min-height:100%; border-radius: 0;">
            <div class="modal-header" style="background-color:#2f7ea5;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pd-15">
                <div id="ViewTable"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModelCellDetail" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="box-shadow: 0px 0px 10px 5px #444c4c;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #237eab;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="cellDetail"></div>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container" style="width:100%!important">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "Form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal form-group">
                <fieldset class="the-fieldset">
                    <legend class="the-legend"><b>Layout Details</b></legend>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="Plant" class="text-right control-label col-form-label"><strong>Plant</strong></label>
                            @Html.DropDownListFor(model => model.Plant, Enumerable.Empty<SelectListItem>(), new { @class = "form-control  input-sm" })
                            <strong>@Html.ValidationMessageFor(model => model.Plant, "", new { @class = "text-danger" })</strong>
                        </div>
                        <div class="col-md-3">
                            <label for="Family" class="text-right control-label col-form-label"><strong>Family</strong></label>
                            @Html.DropDownListFor(model => model.Family, Enumerable.Empty<SelectListItem>(), new { @class = "form-control  input-sm" })
                            <strong>@Html.ValidationMessageFor(model => model.Family, "", new { @class = "text-danger" })</strong>
                        </div>                    
                        <div class="col-md-3">
                            <label for="fname" class="text-right control-label col-form-label"><strong>Layout</strong></label>
                            @Html.DropDownListFor(model => model.OPERATION, new SelectList(ViewBag.Operation, "Value", "Text"), new { @class = "form-control input-sm" })
                            <strong>@Html.ValidationMessageFor(model => model.OPERATION, "", new { @class = "text-danger" })</strong>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="fname" class="text-white"><strong>&nbsp; </strong></label>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" id="Click" class="btn btn-success btn-sm"><i class="ace-icon fa fa-check bigger-110"></i> Click Me</button>
                                    <button class="btn btn-secondary btn-sm" type="reset" id="Clear"><i class="ace-icon fa fa-undo bigger-110"></i><strong>Reset</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="fname" class="text-right control-label col-form-label"><strong class="text-hide">Role Description</strong></label>
                        </div>
                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>


<script src="@Url.Content("~/assets/js/jquery-2.1.4.min.js")"></script>
@*--for ddl searching---*@
<link href="@Url.Content("~/Content/select2/dist/css/select2.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/select2/dist/js/select2.min.js")"></script>
@*--for ddl searching---*@
<script>

    $(document).ready(function () {
        DDLPlant();
       
    });

    $("#Plant").on("change", function () {
        DDLFamilyByPlant();

    });
    $("#Clear").on("click", function () {
        location.reload();
    });


    $("#Click").on("click", function () {
        //if ($("#OPERATION").val() === "VL") {
            ViewLayout();
        //}
        //else if($("#OPERATION").val() === "GL") {
        //    GenerateLayout();
        //}
        //else if ($("#OPERATION").val() === "CA") {
        //    CellAlias();
        //}
    });

    $(document).delegate("#RackDetails", "click", function (event) {
        var val = $(this).val();
        $("#ModelCellDetail").modal('show');
        CellDetail(val)
       }
    );

    function ViewLayout() {
        if (!$("#Form").valid()) {
            return false;
        }
        else {
            var Data = {
                Plant: $('#Plant').val(),
                Family: $('#Family').val(),              
                OPERATION: $('#OPERATION').val(),
                Search: $('#Search').val()
            };
            $('#ViewLayoutModel').modal('show');
            $("#divLoader").show();
            $.ajax({
                url: '@Url.Action("ViewLayout", "Layouts")',
                data: JSON.stringify(Data),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (result) {
                    $("#ViewTable").html(result);
                    $('#Search').val(null);
                    $("#divLoader").hide();
                },
                error: function (errormessage) {
                    $('#alert').append('<div class="alert alert-danger role = "alert"><strong>' + errormessage + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');

                    setTimeout(function () { $(".alert").alert('close'); }, 3000);
                }
            });
        };
    };
    function CellDetail(val) {
         $('#ViewLayoutModel').modal('show');
         $.ajax({
             url: '@Url.Action("CellDetail", "Layouts")',
             data: JSON.stringify({cell: val}),
             type: "POST",
             contentType: "application/json;charset=utf-8",
             success: function (result) {
                 $("#cellDetail").html(result);
             },
             error: function (errormessage) {
                 //$('#alert').append('<div class="alert alert-danger role = "alert"><strong>' + errormessage + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');

                 //setTimeout(function () { $(".alert").alert('close'); }, 3000);
             }
         });
    };
    //Function to bind Plant
     function DDLPlant() {
        $.ajax({
            url: '@Url.Action("BindPlant", "Layouts")',
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                $.each(result, function (i) {
                    var optionhtml = '<option value="' + result[i].Value + '">' + result[i].Text + '</option>';
                    $("#Plant").append(optionhtml);
                });
                DDLFamilyByPlant();
        },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
        });
    };
    //Function to bind Family by Plant
   function DDLFamilyByPlant() {
        var selectedValue = $("#Plant").val();
        $.ajax({
            url: '@Url.Action("BindFamily", "Layouts")',
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify({ Plant: selectedValue }),
            success: function (result) {
                $("#Family").html(null);
                $.each(result, function (i) {
                    var optionhtml = '<option value="' + result[i].Value + '">' + result[i].Text + '</option>';

                    $("#Family").append(optionhtml);
                });
                //BindEngine();
                //BindGrid();
        },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
        });
    };

</script>


<script>
    $("#Plant").select2({});
    $("#Family").select2({});
    $("#OPERATION").select2({});  

</script>
<script src="@Url.Content("~/assets/js/jquery-2.1.4.min.js")"></script>
<script src="@Url.Content("~/Scripts/ej2/ej2.min.js")"></script>
<script src="@Url.Content("~/assets/DashBoardJS/DashBoardJS_Development/DashBoardPopupChartView.js")"></script>
