<link href="@Url.Content("~/Content/select2/dist/css/select2.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/select2/dist/js/select2.min.js")"></script>

<div class="container" style="width:100%!important">
    <style>
        .e-headercell {
            background-color: #14567e !important;
            color: white;
        }

        .e-summarycell {
            background-color: #8fbfdc !important;
        }
    </style>
    <div class="table-responsive">
        @{
            List<object> commands = new List<object>();
            commands.Add(new { buttonOption = new { iconCss = "e-icons e-edit", cssClass = "edit" } });
            commands.Add(new { buttonOption = new { iconCss = "e-icons e-delete", cssClass = "delete" } });
        }

        @(Html.EJS().Grid("Grid").DataSource((System.Data.DataTable)ViewBag.DataSource).
                AllowPaging(true).
                PageSettings(Page => Page.PageSize(7)).
                AllowFiltering().
                AllowGrouping().
                AllowSorting().
                AllowSelection().
                AllowTextWrap().
                AllowResizing().
                Columns(col =>
                {
                    col.HeaderText("EDIT/DELETE").Commands(commands).Width("150").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
                    col.Field("PLANT_CODE").HeaderText("PLANT").Width("100").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
                    col.Field("FAMILY_CODE").HeaderText("FAMILY").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
                    col.Field("ITEM_DCODE").HeaderText("DCODE").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
                    col.Field("ITEM_DESC").HeaderText("DESCRIPTION").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();

                    col.Field("START_SERIALNO").HeaderText("START_SERIAL").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
                    col.Field("END_SERIALNO").HeaderText("END_SERIAL").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
                    col.Field("CURRENT_SERIALNO").HeaderText("CURRENT_SERIAL").Width("100").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
                    col.Field("LAST_PRINT_DATE").HeaderText("LAST_PRINT_DATE").Width("100").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();

                    col.Field("SRNO_REQ").HeaderText("SRNO_REQ").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
                    col.Field("LAST_PRINTED_LABEL_DATE_TI").HeaderText("LAST_PRINTED_LABEL_DATE").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
                    col.Field("AUTOID").HeaderText("AUTOID").IsPrimaryKey(true).Width("100").Visible(false).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();

                    col.Field("CREATEDBY").HeaderText("Created By").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
                    col.Field("CREATEDDATE").HeaderText("Created Date").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
                    col.Field("UPDATEDBY").HeaderText("Updated By").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
                    col.Field("UPDATEDDATE").HeaderText("Updated Date").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();


                })
                .SelectionSettings(select => select.Type(Syncfusion.EJ2.Grids.SelectionType.Multiple)).CommandClick("commandClick").//AllowRowDragAndDrop().
                Render())

        <script>

            $("#Dcode").select2({
                allowClear: true,
                width: '100%',
            });

            var AutoId;
            function commandClick(args) {
                if (args.rowData != null) {
                    if (args.target.classList.contains('edit')) {
                        
                        $("#Dcode").val(args.rowData["ITEM_DCODE"]);
                        $("#Dcode").val(args.rowData["ITEM_DCODE"]).trigger("change");
                        $("#Start_Serial").val(args.rowData["START_SERIALNO"]);
                        $("#End_Serial").val(args.rowData["END_SERIALNO"]);

                        $("#Current_Serial").val(args.rowData["CURRENT_SERIALNO"]);
                        
                        var currsr = args.rowData["CURRENT_SERIALNO"];
                        
                        if (currsr != null) {

                            $('#Current_Serial').prop('disabled', false);
                        }
                        else {
                            $('#Current_Serial').prop('disabled', true);
                        }

                        $("#LastPrintedDate").val(args.rowData["LAST_PRINT_DATE"]);

                        var res = args.rowData["SRNO_REQ"];
                        if (res == "1") {
                            $("#IsSerialNoRequired").prop('checked', true)
                        }
                        else {
                            $("#IsSerialNoRequired").prop('checked', false)
                        }

                        AutoId = args.rowData["AUTOID"];

                        $('#Plant').prop('disabled', true);
                        $('#Family').prop('disabled', true);
                        
                        $('#Dcode').prop('disabled', true);

                        $('#Add').hide();
                        $('#Update').show();
                    }
                    if (args.target.classList.contains('delete')) {

                        AutoId = args.rowData["AUTOID"];

                        $('#DeleteConfirm').modal('show');
                    }
                }
            };


        </script>
    </div>
</div>
<script src="@Url.Content("~/Scripts/ej2/ej2.min.js")"></script>

@Html.EJS().ScriptManager()



