<link href="@Url.Content("~/Content/select2/dist/css/select2.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/select2/dist/js/select2.min.js")"></script>
<div class="container" style="width:100%!important">
    <style>
        .e-headercell {
            background-color: #14567e !important;
            color: white;
        }

        .e-summarycell {
            background-color: #8fbfdc !important;
        }
    </style>
    <div class="table-responsive ">
        @{
            List<object> commands = new List<object>();
            commands.Add(new { buttonOption = new { iconCss = "e-icons e-edit", cssClass = "edit" } });
            commands.Add(new { buttonOption = new { iconCss = "e-icons e-delete", cssClass = "delete" } });
        }

        @(Html.EJS().Grid("GridFCodeTyre").DataSource((System.Data.DataTable)ViewBag.DataSourceFCodeTyre).
                AllowPaging(true).
                PageSettings(Page => Page.PageSize(7)).
                AllowFiltering().
                AllowGrouping().
                AllowSorting().
                AllowSelection().
                AllowTextWrap().
                AllowResizing().
                Columns(col =>
                {
                    col.HeaderText("Action").Width("100").Commands(commands).Width("100").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                    col.Field("ITEMCODE").HeaderText("FCode").Width("100").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                    col.Field("ITEM_DESCRIPTION").HeaderText("Description").Width("200").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                    col.Field("TYRE").HeaderText("Tyre Make").Width("100").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                    col.Field("CREATED_BY").HeaderText("Created By").Width("100").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                    col.Field("CREATED_DATE").HeaderText("Created Date").Width("150").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                    col.Field("UPDATED_BY").HeaderText("Updated By").Width("100").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                    col.Field("UPDATED_DATE").HeaderText("Updated Date").Width("150").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();

                })
                .SelectionSettings(select => select.Type(Syncfusion.EJ2.Grids.SelectionType.Multiple)).CommandClick("commandClick").//AllowRowDragAndDrop().
                Render())

        <script>
            $("#Fcode").select2({
                allowClear: true,
                width: '100%',
            });
            $("#Tyre").select2({
                allowClear: true,
                width: '100%',
            });
            var AutoId;
            function commandClick(args) {
                if (args.rowData != null) {
                    if (args.target.classList.contains('edit')) {
                        AutoId = args.rowData["AUTOID"];
                      
                        $("#PlantFcode").val(args.rowData["PLANT_CODE"]);
                        
                        $("#FamilyFcode").val(args.rowData["FAMILY_CODE"]);
                        //var itmcode = args.rowData["ITEMCODE"];
                        //var itmdesc = args.rowData["ITEM_DESCRIPTION"];
                        //var codeDesc = itmcode + " # " + itmdesc;
                        //$("#Fcode").val(codeDesc);
                        $("#Fcode").val(args.rowData["ITEMCODE"]);
                        $("#Fcode").val(args.rowData["ITEMCODE"]).trigger("change");
                        $("#Tyre").val(args.rowData["TYRE"]);
                        $("#Tyre").val(args.rowData["TYRE"]).trigger("change");
                        $('#PlantFcode').prop('disabled', true);
                        $('#FamilyFcode').prop('disabled', true);
                        $('#Fcode').prop('disabled', true);

                        $('#AddFCode').hide();
                        $('#UpdateFCode').show();
                    }

                    if (args.target.classList.contains('delete')) {
                        $('#DeleteFcode').modal('show');
                        AutoId = args.rowData["AUTOID"];
                    }
                }
            };

            $("#btnDeleteFcode").on("click", function () {
                DeleteFCodeData();

                $("#divLoader").show();
                $('#DeleteFcode').modal('hide');


            });

            //Function to delete
            function DeleteFCodeData() {
                 var Data = {
                     AutoId: AutoId,
                      Tyre: $('#Tyre').val()
                };
               // alert(AutoId);
                $("#divLoader").show();
                $('#DeleteFcode').modal('hide');

                $.ajax({
                    url: '@Url.Action("DeleteFCode", "OtherMaster")',
                    data: JSON.stringify(Data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        //$("#divLoader").hide();
                        BindFCodeTyreGrid();
                        if (data.Msg != "" || data.Msg != null ) {
                            $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                            setTimeout(function() {$(".alert").alert('close');}, 5000);
                        }
                        //$("#divLoader").show();
                        //$('#DeleteTyre').modal('hide');
                    },
                    error: function (errormessage) {
                        $("#divLoader").hide();
                        $('#alert').append('<div class="alert ' + errormessage.ID + '"role = "alert"><strong>' + errormessage.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                        setTimeout(function() {$(".alert").alert('close');}, 5000);
                    }
                });
            }
        </script>
    </div>
</div>
<script src="@Url.Content("~/Scripts/ej2/ej2.min.js")"></script>

@Html.EJS().ScriptManager()

<div class="modal" id="DeleteFcode" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <strong class="modal-title" id="exampleModalLabel2" style="font-size:25px;"><i class="fa fa-exclamation-circle" style="font-size:35px;" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<strong>Confirmation..!</strong></strong>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4><strong>Are you sure, to delete this record ..?</strong></h4>
            </div>
            <div class="modal-footer">
                @*<a href="@Url.Action("", "")" class="btn btn-success btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Go Back</a>*@
                <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="ace-icon fa fa-arrow-left"></i> Go Back</button>
                <button type="button" id="btnDeleteFcode" class="btn btn-danger btn-sm"><i class="ace-icon fa fa-check bigger-110"></i> Delete</button>
            </div>
        </div>
    </div>
</div>





