<style>
    .e-headercell {
        background-color: #14567e !important;
        color: white;
    }
    .e-summarycell {
        background-color: #8fbfdc !important;            
    }
</style>

<div class="container" style="width:100%!important">
    @*Model for Edit*@
    <div class="modal" id="EditModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <strong class="modal-title" id="EditModalLabel" style="font-size:25px;"><i class="fa fa-exclamation-circle" style="font-size:35px;" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<strong>Confirmation..!</strong></strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Qty.</label>
                            <input type="number" class="form-control" id="EditQty" required="Required" min="1">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Back</button>
                    <button type="button" class="btn btn-success btn-sm" id="btnEditItem">Save</button>
                </div>
            </div>
        </div>
    </div>

    @*Model for Delete Plan Item*@
    <div class="modal" id="DeleteConfirm" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <strong class="modal-title" id="DeleteConfirmLabel" style="font-size:25px;"><i class="fa fa-exclamation-circle" style="font-size:35px;" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<strong>Confirmation..!</strong></strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4><strong>Are you sure, to delete this item of this plan..?</strong></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-warning btn-sm"><i class="ace-icon fa fa-arrow-left"></i> Go Back</button>
                    <button type="button" id="btnDelete" class="btn btn-danger btn-sm"><i class="ace-icon fa fa-check bigger-110"></i> Delete</button>
                </div>
            </div>
        </div>
    </div>



    <div class="table-responsive">
        @{
            List<object> commands = new List<object>();
            commands.Add(new { buttonOption = new { iconCss = "e-icons e-edit", cssClass = "edit" } });
            commands.Add(new { buttonOption = new { iconCss = "e-icons e-delete", cssClass = "delete" } });
        }

        @(Html.EJS().Grid("Grid").DataSource((System.Data.DataTable)ViewBag.DataSource).
             //AllowPaging(true).
             //PageSettings(Page => Page.PageSize(7)).
             AllowFiltering().
             AllowGrouping().
             AllowSorting().
             AllowSelection().
             AllowTextWrap().
             Columns(col =>
             {
                 col.Field("ITEM_CODE").HeaderText("Item Code").IsPrimaryKey(true).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
                 col.Field("DESCRIPTION").HeaderText("Description").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
                 col.Field("SHORT_DESC").HeaderText("Short Code").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
                 col.Field("QUANTITY").HeaderText("Planned Qty").IsPrimaryKey(true).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                 col.Field("ACTUAL").HeaderText("Actual Qty").IsPrimaryKey(true).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                 col.Field("PENDING").HeaderText("Pending Qty").IsPrimaryKey(true).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                 col.Field("MONTHYEAR").HeaderText("Month & Year").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                
                 col.HeaderText("").Commands(commands).Add();
             }).SelectionSettings(select => select.Type(Syncfusion.EJ2.Grids.SelectionType.Multiple)).CommandClick("commandClick").
             Aggregates(agg =>
             {
                 agg.Columns(new List<Syncfusion.EJ2.Grids.GridAggregateColumn>() {
                    new Syncfusion.EJ2.Grids.GridAggregateColumn() { Field = "QUANTITY", Type = "Sum" },
                    new Syncfusion.EJ2.Grids.GridAggregateColumn() { Field = "ACTUAL", Type = "Sum" },
                    new Syncfusion.EJ2.Grids.GridAggregateColumn() { Field = "PENDING", Type = "Sum" }
                 }).Add();
             }).
             Render())


        <script>
            var ID;

            function commandClick(args) {
                if (args.target.classList.contains('edit')) {
                    $('#EditModal').modal('show');
                    ID = args.rowData["AUTOID"];
                    $('#EditQty').val(args.rowData["QUANTITY"]);
                }
                if (args.target.classList.contains('delete')) {
                    $('#DeleteConfirm').modal('show');
                    ID = args.rowData["AUTOID"];
                }
            };

            $("#btnEditItem").on("click", function () {
                EditItemQty();
            });

            $("#btnDelete").on("click", function () {
                DeleteMonthlyPlanItem();
            });

            //Function to edit Tractor Monthly Planning
            function EditItemQty() {
                $("#divLoader").show();
                var Data = {
                    AutoId: ID,
                    Qty: $('#EditQty').val()
                };
                $('#EditModal').modal('hide');
                $.ajax({
                    url: '@Url.Action("EditMonthlyPlan", "MonthlyPlan")',
                    data: JSON.stringify({ MP: Data }),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#divLoader").hide();
                        BindGrid();
                        $('#Qty').val("");
                        if (data.Msg != "" || data.Msg != null ) {
                            $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                            setTimeout(function() {$(".alert").alert('close');}, 5000);
                        }
                    },
                    error: function (errormessage) {
                        $("#divLoader").hide();
                        $('#alert').append('<div class="alert ' + errormessage.ID + '"role = "alert"><strong>' + errormessage.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                        setTimeout(function() {$(".alert").alert('close');}, 5000);
                    }
                });
            };

            //Function to delete item Tractor Monthly Planning
            function DeleteMonthlyPlanItem() {
                $("#divLoader").show();
                var Data = {
                    AutoId: ID
                };
                $('#DeleteConfirm').modal('hide');
                $.ajax({
                    url: '@Url.Action("DeleteMonthlyPlanItem", "MonthlyPlan")',
                    data: JSON.stringify({ MP: Data }),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#divLoader").hide();
                        BindGrid();
                        $('#Qty').val("");
                        if (data.Msg != "" || data.Msg != null ) {
                            $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                            setTimeout(function() {$(".alert").alert('close');}, 5000);
                        }
                    },
                    error: function (errormessage) {

                    }
                });
            };
        </script>
    </div>
</div>
<script src="@Url.Content("~/Scripts/ej2/ej2.min.js")"></script>

@Html.EJS().ScriptManager()


