@using Syncfusion.EJ2;
@model MVCApp.Models.RollDown

@*<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />*@
<style>

    #divLoader {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        background-image: @Url.Content("~/Image/Loader.gif");
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10000000;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }
    .hr1 {
        margin-top: 2px;
        margin-bottom: 6px;
        border-top: 2px solid #023a5f;
        width: 370px;
    }
    .inj {
        width: 100px;
    }
    .m-50 {
        width: 73%;
        MARGIN: 0 0 0 130px
    }
    .W-100 {
        width: 968px;
        left: -119px;
    }
    .f-left {
        float: LEFT;
    }
    .frm {
        padding: 20px;
    }
    .C-1 {
        WIDTH: 70px;
    }
    .w-adj {
        WIDTH:100px;
    }

    .w-adj1 {
        WIDTH: 155px;
        margin: -3px 10px -12px 0;
    }
    .well {
        background-color: #e8f2f9;
    }
    table.dataTable thead.tr.th {
        background-color: #14567e;
    }
    table.dataTable tr.odd {
        color: #7a7979;
        background-color: #c2c2c269;
        font-size: 13px;
        font-weight: bolder;
    }

    table.dataTable tr.even {
        color: #7a7979;
        background-color: #eeeeee;
        font-size: 13px;
        font-weight: bolder;
    }
    .fixed-height {
        padding: 1px;
        max-height: 400px;
        overflow: auto;
    }
    #T05EngineBackend{
        display:none;
    }
    #PawordPopUp .modal-lg {
        max-width: 30% !important;
    }

    #PawordPopUpTab2 .modal-lg {
        max-width: 30% !important;
    }
    #BypassPopUp .modal-lg {
        max-width: 30% !important;
    }

    #BypassPopUpTab2 .modal-lg {
        max-width: 30% !important;
    }
</style>
<div id="divLoader" style="display:none;">
    <img src="@Url.Content("~/Image/Loader.gif")" alt="Loader" style="margin-top:10%; margin-left:38%" />
</div>
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.Action("Index", "Home")">Home</a>
        </li>
        <li>
            <a href="#">Roll Down</a>
        </li>
    </ul>
</div>
<div class="page-content">
    <div class="container" style="width:100%!important">
        <div id="alert"></div>
    </div>
    <div id="SearchItem" style="background-color: #6fb3e0; margin: 0px 5px 0px 5px; padding: 5px;">
        <div class="row">
            <div class="col-md-12 text-center">
                <strong style="font-size: 19px;color:white;">JOB LABEL</strong>
                <hr class="hr1">
            </div>


        </div>
    </div>
</div>
<div class="page-content">
    <div class="container" style="width:100%!important">
        <div id="alert"></div>
    </div>
    @*--------Form------------*@
    <div class="container" style="width:100%!important">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "Form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal form-group">
                <fieldset class="the-fieldset bg-info">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="fname" class="text-right control-label col-form-label"><strong>Plant</strong></label>
                            @Html.DropDownListFor(model => model.PLANTCODE, Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control  input-sm" })
                            <strong>@Html.ValidationMessageFor(model => model.PLANTCODE, "", new { @class = "text-danger" })</strong>
                        </div>
                        <div class="col-md-2">
                            <label for="fname" class="text-right control-label col-form-label"><strong>FAMILY</strong></label>
                            @Html.DropDownListFor(model => model.FAMILYCODE, Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control  input-sm" })
                            <strong>@Html.ValidationMessageFor(model => model.FAMILYCODE, "", new { @class = "text-danger" })</strong>
                        </div>

                        <div class="col-md-6">
                            <label for="fname" class="text-right control-label col-form-label"><strong>SCAN JOB</strong></label>
                            @Html.TextBoxFor(Model => Model.JOBID, null, new { @class = "form-control input-sm" })
                        </div>
                        <div class="col-md-2">
                            <input type="radio" name="radio" value="ReplaceDiv" />
                            <strong>
                                REPLACE JOB
                            </strong>
                        </div>
                        <div class="col-md-2" style="margin: 10px 0 0 0;">
                            <input type="radio" name="radio" value="ChangeJobDiv" />
                            <strong>
                                CHANGE JOB
                            </strong>
                            @*@Html.CheckBoxFor(model => model.isReplaceJob, false) REPLACE JOB*@
                        </div>
                        @*<div class="col-md-1">
                <div style="MARGIN-TOP: 25px;">
                    <button class="btn btn-success btn-sm" type="button" id="Show"><i class="ace-icon fa fa-search-plus bigger-110"></i><strong>SHOW</strong></button>
                </div>
            </div>
            <div class="col-md-1">
                <div style="MARGIN-TOP: 25px;">
                    <button class="btn btn-success btn-sm" type="button" id="Save"><i class="ace-icon fa fa-plus-square bigger-110"></i><strong>Save</strong></button>
                </div>
            </div>*@
                    </div>
                    <div class="row" id="ReplaceDiv">
                        <!--<div class="col-md-1" style="MARGIN-TOP: 25px;">-->
                        @*<button class="btn btn-warning btn-sm" type="button" id="SearchReplaceJob"><i class="ace-icon fa fa-search bigger-110"></i><strong>Search</strong></button>*@
                        <!--</div>-->
                        <div class="col-md-2">
                            <label for="fname" class="control-label col-form-label"><strong>Date</strong></label>
                            @*@Html.EJS().DatePickerFor(Model => Model.FromDate).Format("dd-MMM-yyyy").Value(ViewBag.DefaultDate).Render()*@
                            @Html.EJS().DatePickerFor(Model => Model.Date).Change("onchange").Format("dd-MMM-yyyy").Value(ViewBag.value).Render()
                            <strong>@Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })</strong>
                        </div>

                        <div class="col-md-6">
                            <label for="fname" class="text-right control-label col-form-label"><strong>SCAN Replace JOB</strong></label>
                            @Html.DropDownListFor(model => model.RepJOBID, Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control  input-sm" })
                            <strong>@Html.ValidationMessageFor(model => model.RepJOBID, "", new { @class = "text-danger" })</strong>

                        </div>
                    </div>
                    <div class="row" id="ChangeJobDiv">
                        <!--<div class="col-md-1" style="MARGIN-TOP: 25px;">-->
                        @*<button class="btn btn-warning btn-sm" type="button" id="SearchReplaceJob"><i class="ace-icon fa fa-search bigger-110"></i><strong>Search</strong></button>*@
                        <!--</div>-->
                        <div class="col-md-2">
                            <label for="fname" class="control-label col-form-label"><strong>JOB Number</strong></label>
                            @*@Html.EJS().DatePickerFor(Model => Model.FromDate).Format("dd-MMM-yyyy").Value(ViewBag.DefaultDate).Render()*@
                            @Html.TextBoxFor(Model => Model.CHANGEJOB_NO, null, new { @class = "form-check-input" })
                        </div>
                        @*<div class="col-md-1">
                <div style="MARGIN-TOP: 25px;">
                    <button class="btn btn-success btn-sm" type="button" id="Show"><i class="ace-icon fa fa-search-plus bigger-110"></i><strong>SHOW</strong></button>
                </div>
            </div>
            <div class="col-md-1">
                <div style="MARGIN-TOP: 25px;">
                    <button class="btn btn-success btn-sm" type="button" id="Save"><i class="ace-icon fa fa-plus-square bigger-110"></i><strong>Save</strong></button>
                </div>
            </div>*@
                    </div>
                </fieldset>
            </div>
        }
        <div class="form-horizontal form-group">
            <fieldset class="the-fieldset bg-info">
                <div class="row">
                    <div class="col-md-2">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Transmission</strong></label>
                        @Html.TextBoxFor(Model => Model.Transmission_srlno, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-2">
                        <label for="fname" class="text-right control-label col-form-label"><strong>RearAxel</strong></label>
                        @Html.TextBoxFor(Model => Model.RearAxel_srlno, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Hydraulic</strong></label>
                        @Html.TextBoxFor(Model => Model.Hydraulic_srlno, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Engine</strong></label>
                        @Html.TextBoxFor(Model => Model.Engine_srlno, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-2" id="T04Skid">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Skid</strong></label>
                        @Html.TextBoxFor(Model => Model.Skid, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-2" id="T05EngineBackend">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Backend</strong></label>
                        @Html.TextBoxFor(Model => Model.Backend_srlno, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-6" style="padding-bottom: 30px; margin-top: 20px;">
                        <fieldset style="box-shadow: 0 0 8px #000; height: 135px;">
                            <legend>Rear Tyre</legend>
                            <div class="col-md-3">
                                <label for="fname" class="text-right control-label col-form-label"><strong>Left Side Srlno</strong></label>
                                @Html.TextBoxFor(Model => Model.RearTyre1_srlno1, null, new { @class = "form-control input-sm" })
                            </div>
                            <div class="col-md-3">
                                <label for="fname" class="text-right control-label col-form-label"><strong>Right Side Srlno</strong></label>
                                @Html.TextBoxFor(Model => Model.RearTyre2_srlno2, null, new { @class = "form-control input-sm" })
                            </div>
                            <div class="col-md-3">
                                <label for="fname" class="text-right control-label col-form-label"><strong>Left Side RIM</strong></label>
                                @Html.TextBoxFor(Model => Model.RearRIM1, null, new { @class = "form-control input-sm" })
                            </div>
                            <div class="col-md-3">
                                <label for="fname" class="text-right control-label col-form-label"><strong>Right SIde RIM</strong></label>
                                @Html.TextBoxFor(Model => Model.RearRIM2, null, new { @class = "form-control input-sm" })
                            </div>
                            @*<div class="col-md-4">
                                    <label for="fname" class="text-right control-label col-form-label"><strong>Tyre1</strong></label>
                                    @Html.TextBoxFor(Model => Model.RearTyre1, null, new { @class = "form-control input-sm", @Style = "width: 178px;margin: 0px 0 0 7px; "  })
                                </div>*@

                        </fieldset>
                    </div>
                    <div class="col-md-6" style="padding-bottom: 30px; margin-top: 20px;">
                        <fieldset style="box-shadow: 0 0 8px #000; height: 135px;">
                            <legend>Front Tyre</legend>
                            <div class="col-md-3">
                                <label for="fname" class="text-right control-label col-form-label"><strong>Left Side Srlno</strong></label>
                                @Html.TextBoxFor(Model => Model.FrontTyre1_srlno1, null, new { @class = "form-control input-sm" })
                            </div>
                            <div class="col-md-3">
                                <label for="fname" class="text-right control-label col-form-label"><strong>Right Side Srlno</strong></label>
                                @Html.TextBoxFor(Model => Model.FrontTyre2_srlno2, null, new { @class = "form-control input-sm" })
                            </div>

                            <div class="col-md-3">
                                <label for="fname" class="text-right control-label col-form-label"><strong>Left Side RIM</strong></label>
                                @Html.TextBoxFor(Model => Model.FrontRIM1, null, new { @class = "form-control input-sm" })
                            </div>
                            <div class="col-md-3">
                                <label for="fname" class="text-right control-label col-form-label"><strong>Right Side RIM</strong></label>
                                @Html.TextBoxFor(Model => Model.FrontRIM2, null, new { @class = "form-control input-sm" })
                            </div>
                            @*<div class="col-md-4">
                                    <label for="fname" class="text-right control-label col-form-label"><strong>Tyre1</strong></label>
                                    @Html.TextBoxFor(Model => Model.FrontTyre1_srlno1, null, new { @class = "form-control input-sm", @Style = "width: 178px;margin: 0px 0 0 7px; "  })
                                </div>*@
                        </fieldset>
                    </div>
                    @*<div class="col-md-2">
                            <label for="fname" class="text-right control-label col-form-label"><strong>Tyre2</strong></label>
                            @Html.TextBoxFor(Model => Model.RearTyre2_srlno2, null, new { @class = "form-control input-sm"  })
                        </div>*@

                    @*<div class="col-md-2">
                            <label for="fname" class="text-right control-label col-form-label"><strong>Tyre2</strong></label>
                            @Html.TextBoxFor(Model => Model.FrontTyre2_srlno2, null, new { @class = "form-control input-sm"  })
                        </div>*@
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Battery</strong></label>
                        @Html.TextBoxFor(Model => Model.Battery_srlno, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3" style="margin: 30px 0 0 0;">
                        <label for="fname" class="text-right control-label col-form-label"><strong></strong></label>
                        <label for="fname" class="text-right control-label col-form-label"><strong></strong></label>
                        @Html.DropDownListFor(model => model.BatMake, Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control  input-sm" })
                        <strong>@Html.ValidationMessageFor(model => model.BatMake, "", new { @class = "text-danger" })</strong>

                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Hydrualic Pump</strong></label>
                        @Html.TextBoxFor(Model => Model.HydrualicPump_srlno, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Radiator</strong></label>
                        @Html.TextBoxFor(Model => Model.Radiator, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Power Steering Cylinder</strong></label>
                        @Html.TextBoxFor(Model => Model.SteeringCylinder_srlno, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Steering Motor</strong></label>
                        @Html.TextBoxFor(Model => Model.SteeringMotor_srlno, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Steering Assembly</strong></label>
                        @Html.TextBoxFor(Model => Model.SteeringAssem_srlno, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Alternator</strong></label>
                        @Html.TextBoxFor(Model => Model.Alternator_srlno, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Cluster Assembly</strong></label>
                        @Html.TextBoxFor(Model => Model.Cluster_srlno, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Starter Motor</strong></label>
                        @Html.TextBoxFor(Model => Model.Motor_srlno, null, new { @class = "form-control input-sm" })
                    </div>

                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>ROPS Srno</strong></label>
                        @Html.TextBoxFor(Model => Model.ROPSrno, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-2">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Oil Qty</strong></label>
                        @Html.TextBoxFor(Model => Model.OilQty, null, new { @class = "form-control input-sm" })
                    </div>

                    <div class="col-md-1">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Quantity</strong></label>
                        @Html.TextBoxFor(Model => Model.Quantity, null, new { @class = "form-check-input", @Style = "width: 80px;" })
                    </div>

                    <div class="col-md-2">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Sr.no </strong></label>
                        @Html.TextBoxFor(Model => Model.Srno, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-2">
                        <label for="fname" class="text-right control-label col-form-label"><strong>IMEI</strong></label>
                        @Html.TextBoxFor(Model => Model.IMEI, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-2">
                        <label for="fname" class="text-right control-label col-form-label"><strong>MOBILE</strong></label>
                        @Html.TextBoxFor(Model => Model.MOBILE, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-2">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Stage</strong></label>
                        @Html.DropDownListFor(model => model.STAGE_Code, Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control  input-sm" })
                        <strong>@Html.ValidationMessageFor(model => model.STAGE_Code, "", new { @class = "text-danger" })</strong>

                    </div>
                    <div class="col-md-2">
                        <label for="fname" class="text-right control-label col-form-label"><strong>IPAddress</strong></label>
                        @Html.DropDownListFor(model => model.IPAddress, Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control  input-sm", @Style = "width: 120px !important;" })
                        <strong>@Html.ValidationMessageFor(model => model.IPAddress, "", new { @class = "text-danger" })</strong>

                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1" style="margin: 25px 4px 0 0;">
                        <div>
                            <button class="btn btn-success btn-sm" type="button" id="Print"><i class="ace-icon fa fa-plus-square bigger-110"></i><strong>Print</strong></button>
                        </div>
                    </div>
                    <div class="col-md-1" style="margin: 25px 4px 0 0;">
                        <div>
                            <button class="btn btn-default btn-sm" type="button" id="CLEAR"><i class="ace-icon fa fa-eraser bigger-110"></i><strong>Clear</strong></button>
                        </div>
                    </div>
                    <div class="col-md-1" style="margin: 25px 4px 0 0;" id="ShowHideUpdate">
                        <div>
                            <button class="btn btn-success btn-sm" type="button" id="Updatepop" data-toggle="modal" data-target="#PawordPopUp"><strong>Update</strong></button>
                        </div>
                    </div>
                    <div class="col-md-1" style="margin: 25px 4px 0 0;" id="RealUpdate">
                        <div>
                            <button class="btn btn-success btn-sm" type="button" id="Update"><strong>Update</strong></button>
                        </div>
                    </div>
                    <div class="col-md-1" style="margin: 25px 4px 0 0;" id="ShowHideBypass">
                        <div>
                            <button class="btn btn-success btn-sm" type="button" id="Bypasspop" data-toggle="modal" data-target="#BypassPopUp"><strong>Bypass</strong></button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<div class="modal fade" id="PawordPopUp" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Enter Password</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="ORDERBY" class="col-form-label">Password</label>
                            @Html.TextBoxFor(Model => Model.Password, null, new { @class = "form-check-input", type = "password" })

                            @*@Html.TextBoxFor(Model => Model.Password, null, new { @class = "form-control", @autocomplete = "off" })*@
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="PawordSubmit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="BypassPopUp" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Enter Bypass Password</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="ORDERBY" class="col-form-label">Password</label>
                            @Html.TextBoxFor(Model => Model.BypassPassword, null, new { @class = "form-check-input", type = "password" })

                            @*@Html.TextBoxFor(Model => Model.Password, null, new { @class = "form-control", @autocomplete = "off" })*@
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="BypassPawordSubmit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<input type="hidden" id="TractorStagePrint" />
<input type="hidden" id="TractorAutoid" />
<script src="@Url.Content("~/assets/js/jquery-2.1.4.min.js")"></script>
@*<script src="@Url.Content("~/Scripts/ej2/ej2.min.js")"></script>*@
<script src="@Url.Content("~/Content/select2/dist/js/select2.min.js")"></script>
<link href="@Url.Content("~/Content/select2/dist/css/select2.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/AutoFill/jquery-ui.min.js")"></script>
<link href="@Url.Content("~/Scripts/AutoFill/jquery-ui.min.css")" rel="stylesheet" />

<script src="@Url.Content("~/assets/js/jquery-2.1.4.min.js")"></script>
<script src="@Url.Content("~/Scripts/ej2/ej2.min.js")"></script>
<link href="@Url.Content("~/Content/select2/dist/css/select2.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/select2/dist/js/select2.min.js")"></script>
<script src="@Url.Content("~/Scripts/AutoFill/jquery-ui.min.js")"></script>
<link href="@Url.Content("~/Scripts/AutoFill/jquery-ui.min.css")" rel="stylesheet" />


<script>

    $(document).ready(function () {
        $.noConflict();
        DDLPlant();
        BindStage();
        BindBatteryName();
        AutoComplete();
        $("#T04Skid").show();
        $("#T05EngineBackend").hide();
        $("#ShowHideUpdate").hide();
        $("#RealUpdate").hide();
        $("#ReplaceDiv").hide();
    });
    function onchange(args) {
        //var datepickerOBJ = document.getElementById('Date').ej2_instances[0];
        ///*Apply selected format to the component*/
        //datepickerOBJ.format = args.isInteracted;
        if (args.isInteracted == true) {
            DDLReplaceJob();
        }
    }
    $(document).ready(function () {
        $("#ReplaceDiv").hide();
        $("#ChangeJobDiv").hide();
        $("input[name$='radio']").click(function () {
            var test = $(this).val();
            if (test == "ReplaceDiv") {
                $("#" + test).show();
                $("#ChangeJobDiv").hide();
            } else if (test =="ChangeJobDiv"){
                $("#" + test).show();
                $("#ReplaceDiv").hide();
            }
        });
    });
    function DDLReplaceJob() {
        //$("#divLoader").show();
        var Data = {
        PLANTCODE: $('#PLANTCODE').val(),
            FAMILYCODE: $('#FAMILYCODE').val(),
            Date: $('#Date').val()
             };
        $.ajax({
            url: '@Url.Action("FillReplaceJob", "RollDown")',
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify({ data: Data }),
            success: function (result) {
                $("#RepJOBID").html(null);
                $.each(result, function (i) {
                    var optionhtml = '<option value="' + result[i].Value + '">' + result[i].Text + '</option>';
                    $("#RepJOBID").append(optionhtml);
                });
        },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
        });
    };
    var bypass = false;
    $("#PawordSubmit").on("click", function () {
        /* localStorage.setItem("IsTabChange", true);*/
        ChkPassword();
    });

    $("#SearchReplaceJob").on("click", function () {
        DDLReplaceJob();
        /*BindGrid();*/
    });
    $("#BypassPawordSubmit").on("click", function () {
        /* localStorage.setItem("IsTabChange", true);*/
        ChkBypassPassword();
    });
    function DivReplaceJob() {
        var chkRepjob = null;
        if ($('#isReplaceJob').is(":checked")) {
            chkRepjob = true;
            $("#ReplaceDiv").show();
        }
        else {
            chkRepjob = false;
            $("#ReplaceDiv").hide();
        }
    }
    function ChkBypassPassword() {
        $("#divLoader").show();
        var data = {
            PLANTCODE: $('#PLANTCODE').val(),
            FAMILYCODE: $('#FAMILYCODE').val(),
            BypassPassword: $('#BypassPassword').val()
        };
        $.ajax({
            url: '@Url.Action("BypassPasswordPopup", "RollDown")',
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                //$("#PawordPopUp").hide();
                //$(".modal-backdrop").hide();
                //$(".modal-backdrop").addClass("important");
                $("[data-dismiss=modal]").trigger({ type: "click" });
                $("#divLoader").hide();
                if (data.Msg == "Valid Password") {
                    var chk = confirm("Are you sure you want to Bypass this?");
                    if (chk == true) {
                        $("#ShowHideBypass").hide();
                        bypass = true;
                        $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                        setTimeout(function () {
                            $.each($('.alert'), function () {
                                closeAlert(this);
                            });
                        }, 5000);
                    }
                } else {
                    $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    setTimeout(function () {
                        $.each($('.alert'), function () {
                            closeAlert(this);
                        });
                    }, 5000);
                }
            },
            error: function (errormessage) {

            }
        });

    };

    function ChkPassword() {
        $("#divLoader").show();
        var data = {
            PLANTCODE: $('#PLANTCODE').val(),
            FAMILYCODE: $('#FAMILYCODE').val(),
            Password: $('#Password').val()
        };
        $.ajax({
            url: '@Url.Action("PasswordPopup", "RollDown")',
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                //$("#PawordPopUp").hide();
                //$(".modal-backdrop").hide();
                //$(".modal-backdrop").addClass("important");
                $("[data-dismiss=modal]").trigger({ type: "click" });
                $("#divLoader").hide();
                if (data.Msg == "Valid Password") {
                    var chk = confirm("Are you sure you want to Update this?");
                    if (chk == true) {
                        $('.form-control').attr('readonly', false);
                        $("#ShowHideUpdate").hide();
                        $("#RealUpdate").show();
                    }
                } else {
                    $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    setTimeout(function () {
                        $.each($('.alert'), function () {
                            closeAlert(this);
                        });
                    }, 5000);
                }
            },
            error: function (errormessage) {

            }
        });

    };
    $('#Update').on('click', function () {
        Update();
        //NewTractorCode();
    });
    function Update() {
        $("#divLoader").show();
        var itemCode = $('#JOBID').val();
        const myArray = itemCode.split("#");
        var tractorSrlno = myArray[2];
        var jobid = myArray[3];
        if (myArray.length < 2) {
            jobid = myArray[0];
        }
        var itemCode = $('#ItemCode').val();
        var chkRepjob = false;
        if ($('input[name="radio"]:checked').val() =="ReplaceDiv") {
            let text = "Are You Sure To Replace JOBID !!";
            if (confirm(text) == true) {
                chkRepjob = true;
            } else {
                chkRepjob = false;
            }
        }
        var Data = {
            JOBID: jobid,
            RepJOBID: $('#RepJOBID').val(),
            CHANGEJOB_NO: $('#CHANGEJOB_NO').val(),
            PLANTCODE: $('#PLANTCODE').val(),
            FAMILYCODE: $('#FAMILYCODE').val(),
            Engine_srlno:$("#Engine_srlno").val(),
            Transmission_srlno:$("#Transmission_srlno").val(),
            RearAxel_srlno:$("#RearAxel_srlno").val(),
            Backend_srlno:$("#Backend_srlno").val(),
            STAGE_Code:$("#STAGE_Code").val(),
            Hydraulic_srlno:$("#Hydraulic_srlno").val(),
            RearTyre1_srlno1:$("#RearTyre1_srlno1").val(),
            RearTyre2_srlno2:$("#RearSrnn2_srlno2").val(),
            FrontSrnn1_srlno1:$("#FrontSrnn1_srlno1").val(),
            FrontSrnn2_srlno2:$("#FrontSrnn2_srlno2").val(),
            Battery_srlno:$("#Battery_srlno").val(),
            BatMake:$("#BatMake").val(),
            HydrualicPump_srlno:$("#HydrualicPump_srlno").val(),
            SteeringMotor_srlno:$("#SteeringMotor_srlno").val(),
            SteeringAssem_srlno:$("#SteeringAssem_srlno").val(),
            SteeringCylinder_srlno:$("#SteeringCylinder_srlno").val(),
            Radiator_srlno:$("#Radiator_srlno").val(),
            Cluster_srlno:$("#Cluster_srlno").val(),
            Alternator_srlno:$("#Alternator_srlno").val(),
            Motor_srlno:$("#Motor_srlno").val(),
            RearRIM1_srlno:$("#RearRIM1_srlno").val(),
            RearRIM2_srlno:$("#RearRIM2_srlno").val(),
            FrontRIM1_srlno:$("#FrontRIM1_srlno").val(),
            FrontRIM2_srlno:$("#FrontRIM2_srlno").val(),
            RearTyre1_srlno1:$("#RearTyre1_srlno1").val(),
            RearTyre2_srlno2:$("#RearTyre2_srlno2").val(),
            FrontTyre1_srlno1:$("#FrontTyre1_srlno1").val(),
            FrontTyre2_srlno2:$("#FrontTyre2_srlno2").val(),
            Srno:$("#Srno").val(),
            IMEI:$("#IMEI").val(),
            isSrNoRequire:false,
            isReplaceJob: chkRepjob,
            MOBILE:$("#MOBILE").val()

        };
        if ($('input[name="radio"]:checked').val() == "ChangeJobDiv") {
            if (Data.CHANGEJOB_NO == "" || Data.CHANGEJOB_NO == null) {
                $('#alert').append('<div class="alert alert-danger role = "alert"><strong>Please Enter Job to continue..</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                //setTimeout(function () { $(".alert").alert('close'); }, 5000);
                setTimeout(function () {
                    $.each($('.alert'), function () {
                        closeAlert(this);
                    });
                }, 5000);
                $("#CHANGEJOB_NO").focus();
                $("#divLoader").hide();
                return;
            }
            let text = "Are you sure to change the job number of tractor " + Data.TractorSrlno + " Job no " + Data.JOBID + " To CHANGE JOB " + Data.CHANGEJOB_NO + "";
            if (confirm(text) == true) {
                Data.CHANGEJOB_NO = $('#CHANGEJOB_NO').val();
                Data.TractorSrlno = tractorSrlno;
            } else {
                $("#divLoader").hide();
                return;
            }
        }
        $.ajax({
            url: '@Url.Action("Update", "RollDown")',
            data: JSON.stringify({ obj: Data }),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#divLoader").hide();
                if (data != "" || data != null) {
                    if (data.includes("Update")) {
                        $('#alert').append('<div class="alert alert-success role = "alert"><strong>' + data + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                        //setTimeout(function () { $(".alert").alert('close'); }, 5000);
                        setTimeout(function () {
                            $.each($('.alert'), function () {
                                closeAlert(this);
                            });
                        }, 5000);

                    }
                    else if (data.includes("Conform Message Create Tractor Srlno")) {

                        let text = "Do you Want To Generate Tractor Srlno !\nEither OK or Cancel.";
                        if (confirm(text) == true) {
                            Data.isSrNoRequire = true;
                            Updateconform(Data);
                        } else {
                            Data.isSrNoRequire = false;
                            Updateconform(Data);
                        }

                    }
                    else {
                        $('#alert').append('<div class="alert alert-danger role = "alert"><strong>' + data + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                        //setTimeout(function () { $(".alert").alert('close'); }, 5000);
                        setTimeout(function () {
                            $.each($('.alert'), function () {
                                closeAlert(this);
                            });
                        }, 5000);

                    }

                }
            },
            error: function (errormessage) {

            }
        });
    };
    function AutoComplete() {
        var itemCode = $('#JOBID').val();
        const myArray = itemCode.split("#");
        $("#JOBID").autocomplete({
            source: function (request, response) {

                var Data = {
                    PLANTCODE: $('#PLANTCODE').val(),
                    FAMILYCODE: $('#FAMILYCODE').val(),
                    JOBID: $('#JOBID').val()
                };
                $.ajax({
                    url:  '@Url.Action("FillITEMCODE", "RollDown")',
                    type: "POST",
                    contentType: 'application/json;charset=utf-8',
                    dataType: "json",
                    data: JSON.stringify({ data: Data }),
                    success: function (data) {
                        response($.map(data, function (item) {
                            /*console.log(item.DESCRIPTION);*/
                            return { label: item.Text, value: item.Text };
                        }))
                    },

                    error: function (err) {
                        alert(err);
                    }

                });

            },
            select: function (event, ui) {
                if (ui.item.value != undefined) {
                    gleSearch_EditValueChanged(ui.item.value);
                }
            },
            minLength: 4

        });
        $("#JOBID").autocomplete("widget").addClass('fixed-height');
    };


    function Updateconform(Data) {
             $.ajax({
            url: '@Url.Action("UpdateConform", "RollDown")',
            data: JSON.stringify({ obj: Data }),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#divLoader").hide();
                if (data != "" || data != null) {
                    if (data.includes("Update")) {
                        $('#alert').append('<div class="alert alert-success role = "alert"><strong>' + data + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                        //setTimeout(function () { $(".alert").alert('close'); }, 5000);
                        setTimeout(function () {
                            $.each($('.alert'), function () {
                                closeAlert(this);
                            });
                        }, 5000);
                        if ($('#isReplaceJob').is(":checked")) {
                            DivReplaceJob();
                        }
                    }
                    else {
                        $('#alert').append('<div class="alert alert-danger role = "alert"><strong>' + data + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                        //setTimeout(function () { $(".alert").alert('close'); }, 5000);
                        setTimeout(function () {
                            $.each($('.alert'), function () {
                                closeAlert(this);
                            });
                        }, 5000);

                    }

                }
            },
            error: function (errormessage) {

            }
        });
    }
    $("#STAGE_Code").on("change", function () {
        DDLIPAddres();
    });
    $("#PLANTCODE").on("change", function () {
        DDLFamilyByPlant();
    });
    $("#PLANTCODE").on("change", function () {
        BindStage();
    });
    $("#FAMILYCODE").on("change", function () {
        BindStage();
    });
    //Bind IpAddres Stage Code Wise
    function DDLIPAddres() {
        var STAGEselectedValue = $("#STAGE_Code").val();
        //$("#divLoader").show();
        if (STAGEselectedValue != null && STAGEselectedValue != "")
        {
            $.ajax({
            url: '@Url.Action("BindIPAddress", "RollDown")',
            type: "POST",
            contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({ STAGECode: STAGEselectedValue}),
                success: function (result) {
                    $("#IPAddress").html(null);
                $.each(result, function (i) {
                    var optionhtml = '<option value="' + result[i].Value + '">' + result[i].Text + '</option>';
                    $("#IPAddress").append(optionhtml);
                });
                    //DDLReplaceJob();
        },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
            });
        }
    };
    //Function to bind Plant
    function DDLPlant() {
        //$("#divLoader").show();
        $.ajax({
            url: '@Url.Action("BindPlant", "RollDown")',
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                $("#PLANTCODE").html(null);
                $.each(result, function (i) {
                    var optionhtml = '<option value="' + result[i].Value + '">' + result[i].Text + '</option>';
                    $("#PLANTCODE").append(optionhtml);
                });


                DDLFamilyByPlant();
        },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
        });
    };
    function BindStage() {
        var plantselectedValue = $("#PLANTCODE").val();
        var familyselectedValue = $("#FAMILYCODE").val();
        //$("#divLoader").show();
     if (plantselectedValue == "T05") {
            $("#T05EngineBackend").show();
            $("#T04Skid").hide();
        } else {
            $("#T04Skid").show();
            $("#T05EngineBackend").hide();
        }
        if (plantselectedValue != null && plantselectedValue != "" && familyselectedValue != null && familyselectedValue != "")
        {
            $.ajax({
            url: '@Url.Action("BindStages", "RollDown")',
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify({ Plant: plantselectedValue, family: familyselectedValue }),
                success: function (result) {
                    $("#STAGE_Code").html(null);
                $.each(result, function (i) {
                    var optionhtml = '<option value="' + result[i].Value + '">' + result[i].Text + '</option>';
                    $("#STAGE_Code").append(optionhtml);
                });
                DDLIPAddres();
        },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
            });
        }
    };
    //Function to bind Family by Plant
    function DDLFamilyByPlant() {
        //$("#divLoader").show();
        var selectedValue = $("#PLANTCODE").val();
        $.ajax({
            url: '@Url.Action("BindFamily", "RollDown")',
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify({ Plant: selectedValue }),
            success: function (result) {
                $("#FAMILYCODE").html(null);
                $.each(result, function (i) {
                    var optionhtml = '<option value="' + result[i].Value + '">' + result[i].Text + '</option>';
                    $("#FAMILYCODE").append(optionhtml);
                });
                BindStage();
                DDLReplaceJob();
        },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
        });
    };

    //$('#JOBID').on("change", function () {
    //    gleSearch_EditValueChanged();
    //    //NewTractorCode();
    //});
    function BindBatteryName() {
        //$("#divLoader").show();
        $.ajax({
            url: '@Url.Action("BatteryName", "RollDown")',
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                $("#BatMake").html(null);
                $.each(result, function (i) {
                    var optionhtml = '<option value="' + result[i].Value + '">' + result[i].Text + '</option>';
                    $("#BatMake").append(optionhtml);
                });


                DDLFamilyByPlant();
        },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
        });
    };
    function gleSearch_EditValueChanged(JObS) {

        if ($('#JOBID').val() != "") {
            var itemCode = $('#JOBID').val();
            if (JObS != null) {
                itemCode = JObS;
            } else {
                itemCode = $('#JOBID').val();
            }
            const myArray = itemCode.split("#");
            var tractorSrlno = myArray[0];
            var jobid = myArray[3];
            if (myArray.length < 2) {
                jobid = myArray[0];
            }
            var Data = {
                PLANTCODE: $('#PLANTCODE').val(),
                FAMILYCODE: $('#FAMILYCODE').val(),
                JOBID: jobid,
                TractorSrlno: tractorSrlno
            };
        } else {
            return;
        }
        if (Data.JOBID != null) {
            $.ajax({
                url: '@Url.Action("BindData", "RollDown")',
                data: JSON.stringify({ obj: Data }),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {


                    if (data.Msg != "") {
                        $('#alert').append('<div class="alert alert-danger role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');

                        setTimeout(function () {
                            $.each($('.alert'), function () {
                                closeAlert(this);
                            });
                        }, 5000);

                    }
                    else {

                        if (data.Result.Transmission_srlno != "" && data.Result.Transmission_srlno != null) {
                            $("#Transmission_srlno").val(data.Result.Transmission_srlno);
                        } else {
                            $("#Transmission_srlno").val("");
                        }
                        if (data.Result.RearAxel_srlno != "" && data.Result.RearAxel_srlno != null) {
                            $("#RearAxel_srlno").val(data.Result.RearAxel_srlno);
                        } else {
                            $("#RearAxel_srlno").val("");
                        }
                        if (data.Result.Engine_srlno != "" && data.Result.Engine_srlno != null) {
                            $("#Engine_srlno").val(data.Result.Engine_srlno);
                        } else {
                            $("#Engine_srlno").val("");
                        }
                        if (data.Result.Backend_srlno != "" && data.Result.Backend_srlno != null) {
                            $("#Backend_srlno").val(data.Result.Backend_srlno);
                        } else {
                            $("#Backend_srlno").val("");
                        }
                        if (data.Result.Hydraulic_srlno != "" && data.Result.Hydraulic_srlno != null) {
                            $("#Hydraulic_srlno").val(data.Result.Hydraulic_srlno);
                        } else {
                            $("#Hydraulic_srlno").val("");
                        }
                        if (data.Result.RearTyre1_srlno1 != "" && data.Result.RearTyre1_srlno1 != null) {
                            $("#RearTyre1_srlno1").val(data.Result.RearTyre1_srlno1);
                        } else {
                            $("#RearTyre1_srlno1").val("");
                        }
                        if (data.Result.RearTyre2_srlno2 != "" && data.Result.RearTyre2_srlno2 != null) {
                            $("#RearTyre2_srlno2").val(data.Result.RearTyre2_srlno2);
                        } else {
                            $("#RearTyre2_srlno2").val("");
                        }
                        if (data.Result.FrontTyre1_srlno1 != "" && data.Result.FrontTyre1_srlno1 != null) {
                            $("#FrontTyre1_srlno1").val(data.Result.FrontTyre1_srlno1);
                        } else {
                            $("#FrontTyre1_srlno1").val("");
                        }
                        if (data.Result.FrontTyre2_srlno2 != "" && data.Result.FrontTyre2_srlno2 != null) {
                            $("#FrontTyre2_srlno2").val(data.Result.FrontTyre2_srlno2);
                        } else {
                            $("#FrontTyre2_srlno2").val("");
                        }
                        if (data.Result.Battery_srlno != "" && data.Result.Battery_srlno != null) {
                            $("#Battery_srlno").val(data.Result.Battery_srlno);
                        } else {
                            $("#Battery_srlno").val("");
                        }
                        if (data.Result.HydrualicPump_srlno != "" && data.Result.HydrualicPump_srlno != null) {
                            $("#HydrualicPump_srlno").val(data.Result.HydrualicPump_srlno);
                        } else {
                            $("#HydrualicPump_srlno").val("");
                        }
                        if (data.Result.SteeringMotor_srlno != "" && data.Result.SteeringMotor_srlno != null) {
                            $("#SteeringMotor_srlno").val(data.Result.SteeringMotor_srlno);
                        } else {
                            $("#SteeringMotor_srlno").val("");
                        }
                        if (data.Result.SteeringAssem_srlno != "" && data.Result.SteeringAssem_srlno != null) {
                            $("#SteeringAssem_srlno").val(data.Result.SteeringAssem_srlno);
                        } else {
                            $("#SteeringAssem_srlno").val("");
                        }
                        if (data.Result.SteeringCylinder_srlno != "" && data.Result.SteeringCylinder_srlno != null) {
                            $("#SteeringCylinder_srlno").val(data.Result.SteeringCylinder_srlno);
                        } else {
                            $("#SteeringCylinder_srlno").val("");
                        }
                        if (data.Result.Radiator_srlno != "" && data.Result.Radiator_srlno != null) {
                            $("#Radiator_srlno").val(data.Result.Radiator_srlno);
                        } else {
                            $("#Radiator_srlno").val("");
                        }
                        if (data.Result.Cluster_srlno != "" && data.Result.Cluster_srlno != null) {
                            $("#Cluster_srlno").val(data.Result.Cluster_srlno);
                        } else {
                            $("#Cluster_srlno").val("");
                        }
                        if (data.Result.Alternator_srlno != "" && data.Result.Alternator_srlno != null) {
                            $("#Alternator_srlno").val(data.Result.Alternator_srlno);
                        } else {
                            $("#Alternator_srlno").val("");
                        }
                        if (data.Result.Motor_srlno != "" && data.Result.Motor_srlno != null) {
                            $("#Motor_srlno").val(data.Result.Motor_srlno);
                        } else {
                            $("#Motor_srlno").val("");
                        }
                        if (data.Result.RearRIM1_srlno != "" && data.Result.RearRIM1_srlno != null) {
                            $("#RearRIM1_srlno").val(data.Result.RearRIM1_srlno);
                        } else {
                            $("#RearRIM1_srlno").val("");
                        }
                        if (data.Result.RearRIM2_srlno != "" && data.Result.RearRIM2_srlno != null) {
                            $("#RearRIM2_srlno").val(data.Result.RearRIM2_srlno);
                        } else {
                            $("#RearRIM2_srlno").val("");
                        }
                        if (data.Result.FrontRIM1_srlno != "" && data.Result.FrontRIM1_srlno != null) {
                            $("#FrontRIM1_srlno").val(data.Result.FrontRIM1_srlno);
                        } else {
                            $("#FrontRIM1_srlno").val("");
                        }
                        if (data.Result.FrontRIM2_srlno != "" && data.Result.FrontRIM2_srlno != null) {
                            $("#FrontRIM2_srlno").val(data.Result.FrontRIM2_srlno);
                        } else {
                            $("#FrontRIM2_srlno").val("");
                        }
                        if (data.Result.RearTyre1_srlno != "" && data.Result.RearTyre1_srlno != null) {
                            $("#RearTyre1_srlno").val(data.Result.RearTyre1_srlno);
                        } else {
                            $("#RearTyre1_srlno").val("");
                        }
                        if (data.Result.RearTyre2_srlno2 != "" && data.Result.RearTyre2_srlno2 != null) {
                            $("#RearTyre2_srlno2").val(data.Result.RearTyre2_srlno2);
                        } else {
                            $("#RearTyre2_srlno2").val("");
                        }
                        if (data.Result.FrontTyre1_srlno != "" && data.Result.FrontTyre1_srlno != null) {
                            $("#FrontTyre1_srlno").val(data.Result.FrontTyre1_srlno);
                        } else {
                            $("#FrontTyre1_srlno").val("");
                        }
                        if (data.Result.FrontTyre2_srlno2 != "" && data.Result.FrontTyre2_srlno2 != null) {
                            $("#FrontTyre2_srlno2").val(data.Result.FrontTyre2_srlno2);
                        } else {
                            $("#FrontTyre2_srlno2").val("");
                        }
                        if (data.Result.Srno != "" && data.Result.Srno != null) {
                            $("#Srno").val(data.Result.Srno);
                        } else {
                            $("#Srno").val("");
                        }
                        if (data.Result.IMEI != "" && data.Result.IMEI != null) {
                            $("#IMEI").val(data.Result.IMEI);
                        } else {
                            $("#IMEI").val("");
                        }
                        if (data.Result.MOBILE != "" && data.Result.MOBILE != null) {
                            $("#MOBILE").val(data.Result.MOBILE);
                        } else {
                            $("#MOBILE").val("");
                        }
                        if (data.Result.TractorStagePrint != "" && data.Result.TractorStagePrint != null) {
                            $("#TractorStagePrint").val(data.Result.TractorStagePrint);
                        }
                        if (data.Result.TractorAutoid != "" && data.Result.TractorAutoid != null) {
                            $("#TractorAutoid").val(data.Result.TractorAutoid);
                        } else {
                            $("#TractorAutoid").val("");
                        }
                        if (data.Result.ROPSrno != "" && data.Result.ROPSrno != null) {
                            $("#ROPSrno").val(data.Result.ROPSrno);
                        } else {
                            $("#ROPSrno").val("");
                        }
                        if (data.Result.OilQty != "" && data.Result.OilQty != null) {
                            $("#OilQty").val(data.Result.OilQty);
                        } else {
                            $("#OilQty").val("");
                        }
                        $('.form-control').attr('readonly', true);
                        $('#JOBID').attr('readonly', false);
                        $("#ShowHideUpdate").show();
                        $("#ShowHideBypass").show();
                        bypass = false;
                    }

                },
                error: function (errormessage) {

                }
            });
        } else {
            $('#alert').append('<div class="alert alert-danger role = "alert"><strong>Please Select Job</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');

        }
    };

    $('#CLEAR').on('click', function () {
        CLearData();
        //NewTractorCode();
    });
    function CLearData() {
        $("#JOBID").val("");
        $("#Transmission_srlno").val("");
        $("#RearAxel_srlno").val("");
        $("#Engine_srlno").val("");
        $("#Backend_srlno").val("");
        $("#Hydraulic_srlno").val("");
        $("#RearTyre1_srlno1").val("");
        $("#RearTyre2_srlno2").val("");
        $("#FrontTyre1_srlno1").val("");
        $("#FrontTyre2_srlno2").val("");
        $("#Battery_srlno").val("");
        $("#HydrualicPump_srlno").val("");
        $("#SteeringMotor_srlno").val("");
        $("#SteeringAssem_srlno").val("");
        $("#SteeringCylinder_srlno").val("");
        $("#Radiator_srlno").val("");
        $("#Cluster_srlno").val("");
        $("#Alternator_srlno").val("");
        $("#Motor_srlno").val("");
        $("#RearRIM1_srlno").val("");
        $("#RearRIM2_srlno").val("");
        $("#FrontRIM1_srlno").val("");
        $("#FrontRIM2_srlno").val("");
        $("#RearTyre1_srlno").val("");
        $("#RearTyre2_srlno2").val("");
        $("#FrontTyre1_srlno").val("");
        $("#FrontTyre2_srlno2").val("");
        $("#Srno").val("");
        $("#IMEI").val("");
        $("#MOBILE").val("");
        $("#IMEI").val("");
        $("#TractorAutoid").val("");
        $('.form-control').attr('readonly', false);
        return;
    }
    $('#Print').on('click', function () {
        printData();
        //NewTractorCode();
    });
    function printData() {

        if ($('#JOBID').val() != "") {
            var jOBID = $('#JOBID').val();
            const myArray = jOBID.split("#");
            var stagecode = $("#STAGE_Code").val();
            if (stagecode == undefined && stagecode == "") {
                $('#alert').append('<div class="alert alert-danger role = "alert"><strong>Please Select Stage</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');

                return;
            }
            //const myArray = itemCode.split("#");
            var Data = {
                PLANTCODE: $('#PLANTCODE').val(),
                FAMILYCODE: $('#FAMILYCODE').val(),
                STAGE_Code: stagecode,
                isBypass: bypass,
                Quantity: $('#Quantity').val(),
                IPAddress: $("#IPAddress").val(),
                Battery_srlno: $("#Battery_srlno").val(),
                RearTyre1_srlno1: $("#RearTyre1_srlno1").val(),
                RearTyre2_srlno2: $("#RearTyre2_srlno2").val(),
                FrontTyre1_srlno1: $("#FrontTyre1_srlno1").val(),
                FrontTyre2_srlno2: $("#FrontTyre2_srlno2").val(),
                Engine_srlno: $("#Engine_srlno").val(),
                Transmission_srlno: $("#Transmission_srlno").val(),
                RearAxel_srlno: $("#RearAxel_srlno").val(),
                Backend_srlno: $("#Backend_srlno").val(),
                Hydraulic_srlno: $("#Hydraulic_srlno").val(),
                HydrualicPump_srlno: $("#HydrualicPump_srlno").val(),
                SteeringMotor_srlno: $("#SteeringMotor_srlno").val(),
                SteeringAssem_srlno: $("#SteeringAssem_srlno").val(),
                SteeringCylinder_srlno: $("#SteeringCylinder_srlno").val(),
                Radiator_srlno: $("#Radiator_srlno").val(),
                Cluster_srlno: $("#Cluster_srlno").val(),
                Alternator_srlno: $("#Alternator_srlno").val(),
                Motor_srlno: $("#Motor_srlno").val(),
                RearRIM1_srlno: $("#RearRIM1_srlno").val(),
                RearRIM2_srlno: $("#RearRIM2_srlno").val(),
                FrontRIM1_srlno: $("#FrontRIM1_srlno").val(),
                FrontRIM2_srlno: $("#FrontRIM2_srlno").val(),
                Srno: $("#Srno").val(),
                IMEI: $("#IMEI").val(),
                MOBILE: $("#MOBILE").val(),
                JOBID: myArray[3]
            };
        } else {
            return;
        }
        $.ajax({
            url: '@Url.Action("PRINTDATA", "RollDown")',
            data: JSON.stringify({ down: Data }),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {

                if (data.Msg != "successfully Printed") {
                    $('#alert').append('<div class="alert alert-danger role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    setTimeout(function () {
                        $.each($('.alert'), function () {
                            closeAlert(this);
                        });
                    }, 5000);
                    //setTimeout(function () { $("#alert").hide(); }, 5000)
                }

                else {
                    $('#alert').append('<div class="alert alert-success role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    //setTimeout(function () { $("#alert").hide(); }, 5000);
                    setTimeout(function () { $(".alert").alert('close'); }, 5000); setTimeout(function () {
                        $.each($('.alert'), function () {
                            closeAlert(this);
                        });
                    }, 5000);
                    /* $('#VendorName').val("");*/
                    /*  $('#VendorName').val("");*/
                    $('#ItemCode').val("");
                    $('#DeviationQty').val("");
                    $('#AprovedBy').val("");
                    BindGrid();
                }
            },
            error: function (errormessage) {

            }
        });

    };
    function closeAlert(alert) {

        $(alert).hide();
    };
    $("#PLANTCODE,#FAMILYCODE,#STAGE_Code,#BatMake,#IPAddress,#RepJOBID").select2({
        allowClear: true,
        width: '180px',
    });
    $("#RepJOBID").select2({
        allowClear: true,
    });
</script>