@using Syncfusion.EJ2;
@model MVCApp.Models.RollDown

@*<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />*@
<style>

    #divLoader {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        background-image: @Url.Content("~/Image/Loader.gif");
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10000000;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }
    .hr1 {
        margin-top: 2px;
        margin-bottom: 6px;
        border-top: 2px solid #023a5f;
        width: 370px;
    }
    .inj {
        width: 100px;
    }
    .m-50 {
        width: 73%;
        MARGIN: 0 0 0 130px
    }
    .W-100 {
        width: 968px;
        left: -119px;
    }
    .f-left {
        float: LEFT;
    }
    .frm {
        padding: 20px;
    }
    .C-1 {
        WIDTH: 70px;
    }
    .w-adj {
        WIDTH:100px;
    }

    .w-adj1 {
        WIDTH: 155px;
        margin: -3px 10px -12px 0;
    }
    .well {
        background-color: #e8f2f9;
    }
    table.dataTable thead.tr.th {
        background-color: #14567e;
    }
    table.dataTable tr.odd {
        color: #7a7979;
        background-color: #c2c2c269;
        font-size: 13px;
        font-weight: bolder;
    }

    table.dataTable tr.even {
        color: #7a7979;
        background-color: #eeeeee;
        font-size: 13px;
        font-weight: bolder;
    }
</style>
<div id="divLoader" style="display:none;">
    <img src="@Url.Content("~/Image/Loader.gif")" alt="Loader" style="margin-top:10%; margin-left:38%" />
</div>
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.Action("Index", "Home")">Home</a>
        </li>
        <li>
            <a href="#">Roll Down</a>
        </li>
    </ul>
</div>
<div class="page-content">
    <div class="container" style="width:100%!important">
        <div id="alert"></div>
    </div>
    <div id="SearchItem" style="background-color: #6fb3e0; margin: 0px 5px 0px 5px; padding: 5px;">
        <div class="row">
            <div class="col-md-12 text-center">
                <strong style="font-size: 19px;color:white;">ROLL DOWN</strong>
                <hr class="hr1">
            </div>


        </div>
    </div>
</div>
<div class="page-content">
    <div class="container" style="width:100%!important">
        <div id="alert"></div>
    </div>
    @*--------Form------------*@
    <div class="container" style="width:100%!important">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "Form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal form-group">
                <fieldset class="the-fieldset bg-info">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="fname" class="text-right control-label col-form-label"><strong>Plant</strong></label>
                            @Html.DropDownListFor(model => model.PLANTCODE, Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control  input-sm" })
                            <strong>@Html.ValidationMessageFor(model => model.PLANTCODE, "", new { @class = "text-danger" })</strong>
                        </div>
                        <div class="col-md-2">
                            <label for="fname" class="text-right control-label col-form-label"><strong>FAMILY</strong></label>
                            @Html.DropDownListFor(model => model.FAMILYCODE, Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control  input-sm" })
                            <strong>@Html.ValidationMessageFor(model => model.FAMILYCODE, "", new { @class = "text-danger" })</strong>
                        </div>
                        <div class="col-md-6">
                            <label for="fname" class="text-right control-label col-form-label"><strong>scan job</strong></label>
                            @Html.TextBoxFor(Model => Model.ITEM_CODE, null, new { @class = "form-control input-sm" })
                        </div>
                        @*<div class="col-md-1">
                            <div style="MARGIN-TOP: 25px;">
                                <button class="btn btn-success btn-sm" type="button" id="Show"><i class="ace-icon fa fa-search-plus bigger-110"></i><strong>SHOW</strong></button>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div style="MARGIN-TOP: 25px;">
                                <button class="btn btn-success btn-sm" type="button" id="Save"><i class="ace-icon fa fa-plus-square bigger-110"></i><strong>Save</strong></button>
                            </div>
                        </div>*@
                    </div>
                </fieldset>
            </div>
        }
        <div class="form-horizontal form-group">
            <fieldset class="the-fieldset bg-info">
                <div class="row">
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Transmission</strong></label>
                        @Html.TextBoxFor(Model => Model.Transmission, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>RearAxel</strong></label>
                        @Html.TextBoxFor(Model => Model.RearAxel, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>FIP</strong></label>
                        @Html.TextBoxFor(Model => Model.FIP, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-2">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Hookup No</strong></label>
                        @Html.TextBoxFor(Model => Model.HookupNo, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-success btn-sm" type="button" id="Savehookup"><i class="ace-icon fa fa-search-plus bigger-110"></i><strong>SAVE</strong></button>
                    </div>
                    <div class="col-md-6">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Hydraulic</strong></label>
                        @Html.TextBoxFor(Model => Model.Hydraulic, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Engine</strong></label>
                        @Html.TextBoxFor(Model => Model.Engine, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Skid</strong></label>
                        @Html.TextBoxFor(Model => Model.Skid, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <legend>Rear Tyre</legend>
                            <div class="col-md-4">
                                <label for="fname" class="text-right control-label col-form-label"><strong>Srnn1</strong></label>
                                @Html.TextBoxFor(Model => Model.RearSrnn1, null, new { @class = "form-control input-sm" })
                            </div>
                            <div class="col-md-4">
                                <label for="fname" class="text-right control-label col-form-label"><strong>RIM1</strong></label>
                                @Html.TextBoxFor(Model => Model.RearRIM1, null, new { @class = "form-control input-sm" })
                            </div>
                            <div class="col-md-4">
                                <label for="fname" class="text-right control-label col-form-label"><strong>Tyre1</strong></label>
                                @Html.TextBoxFor(Model => Model.RearTyre1, null, new { @class = "form-control input-sm" })
                            </div>

                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <legend>Font Tyre</legend>
                            <div class="col-md-4">
                                <label for="fname" class="text-right control-label col-form-label"><strong>Srnn1</strong></label>
                                @Html.TextBoxFor(Model => Model.FrontSrnn1, null, new { @class = "form-control input-sm" })
                            </div>
                            <div class="col-md-4">
                                <label for="fname" class="text-right control-label col-form-label"><strong>RIM1</strong></label>
                                @Html.TextBoxFor(Model => Model.FrontRIM1, null, new { @class = "form-control input-sm" })
                            </div>
                            <div class="col-md-4">
                                <label for="fname" class="text-right control-label col-form-label"><strong>Tyre1</strong></label>
                                @Html.TextBoxFor(Model => Model.FrontTyre1, null, new { @class = "form-control input-sm" })
                            </div>
                        </fieldset>
                    </div>
                            <div class="col-md-2">
                                <label for="fname" class="text-right control-label col-form-label"><strong>Srnn2</strong></label>
                                @Html.TextBoxFor(Model => Model.RearSrnn2, null, new { @class = "form-control input-sm" })
                            </div>
                            <div class="col-md-2">
                                <label for="fname" class="text-right control-label col-form-label"><strong>RIM2</strong></label>
                                @Html.TextBoxFor(Model => Model.RearRIM2, null, new { @class = "form-control input-sm" })
                            </div>
                            <div class="col-md-2">
                                <label for="fname" class="text-right control-label col-form-label"><strong>Tyre2</strong></label>
                                @Html.TextBoxFor(Model => Model.RearTyre2, null, new { @class = "form-control input-sm" })
                            </div>

                            <div class="col-md-2">
                                <label for="fname" class="text-right control-label col-form-label"><strong>Srnn2</strong></label>
                                @Html.TextBoxFor(Model => Model.FrontSrnn2, null, new { @class = "form-control input-sm" })
                            </div>
                            <div class="col-md-2">
                                <label for="fname" class="text-right control-label col-form-label"><strong>RIM2</strong></label>
                                @Html.TextBoxFor(Model => Model.FrontRIM2, null, new { @class = "form-control input-sm" })
                            </div>
                            <div class="col-md-2">
                                <label for="fname" class="text-right control-label col-form-label"><strong>Tyre2</strong></label>
                                @Html.TextBoxFor(Model => Model.FrontTyre2, null, new { @class = "form-control input-sm" })
                            </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Battery</strong></label>
                        @Html.TextBoxFor(Model => Model.Battery, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>hydrualic Pump</strong></label>
                        @Html.TextBoxFor(Model => Model.HydrualicPump, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Radiator</strong></label>
                        @Html.TextBoxFor(Model => Model.Radiator, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Power Steering Cylinder</strong></label>
                        @Html.TextBoxFor(Model => Model.SteeringCylinder, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Steering Motor</strong></label>
                        @Html.TextBoxFor(Model => Model.SteeringMotor, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Steering Motor</strong></label>
                        @Html.TextBoxFor(Model => Model.SteeringAssem, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Alternator</strong></label>
                        @Html.TextBoxFor(Model => Model.Alternator, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Cluster Assembly</strong></label>
                        @Html.TextBoxFor(Model => Model.Cluster, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Starter Motor</strong></label>
                        @Html.TextBoxFor(Model => Model.Motor, null, new { @class = "form-control input-sm" })
                    </div>

                    <div class="col-md-3">                    </div>

                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Quantity</strong></label>
                        @Html.TextBoxFor(Model => Model.Quantity, null, new { @class = "form-control input-sm" })
                    </div>

                    <div class="col-md-2">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Srno</strong></label>
                        @Html.TextBoxFor(Model => Model.Srno, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-2">
                        <label for="fname" class="text-right control-label col-form-label"><strong>IMEI</strong></label>
                        @Html.TextBoxFor(Model => Model.IMEI, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-2">
                        <label for="fname" class="text-right control-label col-form-label"><strong>MOBILE</strong></label>
                        @Html.TextBoxFor(Model => Model.MOBILE, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-3">
                        <label for="fname" class="text-right control-label col-form-label"><strong>ROPS Srno</strong></label>
                        @Html.TextBoxFor(Model => Model.ROPSrno, null, new { @class = "form-control input-sm" })
                    </div>
                    <div class="col-md-2">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Oil Qty</strong></label>
                        @Html.TextBoxFor(Model => Model.OilQty, null, new { @class = "form-control input-sm" })
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<script src="@Url.Content("~/assets/js/jquery-2.1.4.min.js")"></script>
@*<script src="@Url.Content("~/Scripts/ej2/ej2.min.js")"></script>*@
<script src="@Url.Content("~/Content/select2/dist/js/select2.min.js")"></script>
<link href="@Url.Content("~/Content/select2/dist/css/select2.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/AutoFill/jquery-ui.min.js")"></script>
<link href="@Url.Content("~/Scripts/AutoFill/jquery-ui.min.css")" rel="stylesheet" />


<script>

    $(document).ready(function () {
        $.noConflict();
        DDLPlant(); AutoComplete();
    });


    function AutoComplete() {
    $("#ITEM_CODE").autocomplete({
            source: function (request, response) {

                var Data = {
                    PLANTCODE: $('#PLANTCODE').val(),
                    FAMILYCODE: $('#FAMILYCODE').val(),
                    ITEM_CODE: $('#ITEM_CODE').val()
                };
                $.ajax({
                    url:  '@Url.Action("FillITEMCODE", "RollDown")',
                    type: "POST",
                    contentType: 'application/json;charset=utf-8',
                    dataType: "json",
                    data: JSON.stringify({ data: Data }),
                    success: function (data) {
                        response($.map(data, function (item) {
                            /*console.log(item.DESCRIPTION);*/
                            return { label: item.Text, value: item.Text };
                        }))
                    },

                    error: function (err) {
                        alert(err);
                    }

                });

            },

            minLength: 4

        });
    };



    $("#PLANTCODE").on("change", function () {
        DDLFamilyByPlant();
    });

    //Function to bind Plant
    function DDLPlant() {
        //$("#divLoader").show();
        $.ajax({
            url: '@Url.Action("BindPlant", "RollDown")',
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                $.each(result, function (i) {
                    var optionhtml = '<option value="' + result[i].Value + '">' + result[i].Text + '</option>';
                    $("#PLANTCODE").append(optionhtml);
                });


                DDLFamilyByPlant();
        },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
        });
    };

    //Function to bind Family by Plant
    function DDLFamilyByPlant() {
        //$("#divLoader").show();
        var selectedValue = $("#PLANTCODE").val();
        $.ajax({
            url: '@Url.Action("BindFamily", "RollDown")',
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify({ Plant: selectedValue }),
            success: function (result) {
                $("#FAMILYCODE").html(null);
                $.each(result, function (i) {
                    var optionhtml = '<option value="' + result[i].Value + '">' + result[i].Text + '</option>';
                    $("#FAMILYCODE").append(optionhtml);
                });
                //BindGrid();
        },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
        });
    };




    function gleSearch_EditValueChanged() {

        if ($('#ItemCode').val() != "") {
            var itemCode = $('#ItemCode').val();
            const myArray = itemCode.split("#");
            var Data = {
                PLANTCODE: $('#PLANTCODE').val(),
                FAMILYCODE: $('#FAMILYCODE').val(),
                ITEM_CODE: $('#ITEM_CODE').val()
            };
        } else {
            return;
        }

        $.ajax({
            url: '@Url.Action("BindData", "RollDown")',
            data: JSON.stringify({ obj: Data }),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {


                if (data.Msg != "") {
                    $('#alert').append('<div class="alert alert-danger role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');

                    setTimeout(function () {
                        $.each($('.alert'), function () {
                            closeAlert(this);
                        });
                    }, 5000);

                }
                else {

                    if (data.Result.ItemCode != "" && data.Result.ItemCode != null) {
                        $("#ItemCode").val(data.Result.ItemCode);

                    }
                    if (data.Result.Transmission != "" && data.Result.Transmission != null) {
                        $("#Transmission").val(data.Result.Transmission);

                    }
                    if (data.Result.Engine != "" && data.Result.Engine != null) {
                        $("#Engine").val(data.Result.Engine);

                    }
                    if (data.Result.RearTyre != "" && data.Result.RearTyre != null) {

                        $("#RearTyre").val(data.Result.RearTyre);

                    }
                    if (data.Result.RHRearTyre != "" && data.Result.RHRearTyre != null) {

                        $("#RHRearTyre").val(data.Result.RHRearTyre);

                    }
                    if (data.Result.Battery != "" && data.Result.Battery != null) {
                        $("#Battery").val(data.Result.Battery);

                    }
                    if (data.Result.HydraulicPump != "" && data.Result.HydraulicPump != null) {
                        $("#HydraulicPump").val(data.Result.HydraulicPump);

                    }
                    if (data.Result.SteeringAssembly != "" && data.Result.SteeringAssembly != null) {
                        $("#SteeringAssembly").val(data.Result.SteeringAssembly);

                    }
                    if (data.Result.RadiatorAssembly != "" && data.Result.RadiatorAssembly != null) {
                        $("#RadiatorAssembly").val(data.Result.RadiatorAssembly);

                    }
                    if (data.Result.Alternator != "" && data.Result.Alternator != null) {
                        $("#Alternator").val(data.Result.Alternator);

                    }
                    if (data.Result.BRAKE_PEDAL != "" && data.Result.BRAKE_PEDAL != null) {
                        $("#BRAKE_PEDAL").val(data.Result.BRAKE_PEDAL);

                    }
                    if (data.Result.CLUTCH_PEDAL != "" && data.Result.CLUTCH_PEDAL != null) {
                        $("#CLUTCH_PEDAL").val(data.Result.CLUTCH_PEDAL);

                    }
                    if (data.Result.SPOOL_VALUE != "" && data.Result.SPOOL_VALUE != null) {
                        $("#SPOOL_VALUE").val(data.Result.SPOOL_VALUE);

                    }
                    if (data.Result.TANDEM_PUMP != "" && data.Result.TANDEM_PUMP != null) {
                        $("#TANDEM_PUMP").val(data.Result.TANDEM_PUMP);

                    }
                    if (data.Result.FENDER != "" && data.Result.FENDER != null) {
                        $("#FENDER").val(data.Result.FENDER);

                    }
                    if (data.Result.RearAxel != "" && data.Result.RearAxel != null) {
                        $("#RearAxel").val(data.Result.RearAxel);

                    }
                    if (data.Result.Hydraulic != "" && data.Result.Hydraulic != null) {
                        $("#Hydraulic").val(data.Result.Hydraulic);

                    }

                    if (data.Result.FrontTyre != "" && data.Result.FrontTyre != null) {
                        $("#FrontTyre").val(data.Result.FrontTyre);

                    }
                    if (data.Result.RHFrontTyre != "" && data.Result.RHFrontTyre != null) {
                        $("#RHFrontTyre").val(data.Result.RHFrontTyre);

                    }
                    if (data.Result.Backend != "" && data.Result.Backend != null) {
                        $("#Backend").val(data.Result.Backend);

                    }
                    if (data.Result.SteeringMotor != "" && data.Result.SteeringMotor != null) {
                        $("#SteeringMotor").val(data.Result.SteeringMotor);

                    }
                    if (data.Result.SteeringCylinder != "" && data.Result.SteeringCylinder != null) {
                        $("#SteeringCylinder").val(data.Result.SteeringCylinder);

                    }
                    if (data.Result.ClusterAssembly != "" && data.Result.ClusterAssembly != null) {
                        $("#ClusterAssembly").val(data.Result.ClusterAssembly);

                    }
                    if (data.Result.StartorMotor != "" && data.Result.StartorMotor != null) {
                        $("#StartorMotor").val(data.Result.StartorMotor);

                    }
                    if (data.Result.Rops != "" && data.Result.Rops != null) {
                        $("#Rops").val(data.Result.Rops);

                    }
                    if (data.Result.FENDER_RAILING != "" && data.Result.FENDER_RAILING != null) {
                        $("#FENDER_RAILING").val(data.Result.FENDER_RAILING);

                    }
                    if (data.Result.HEAD_LAMP != "" && data.Result.HEAD_LAMP != null) {
                        $("#HEAD_LAMP").val(data.Result.HEAD_LAMP);

                    }
                    if (data.Result.STEERING_WHEEL != "" && data.Result.STEERING_WHEEL != null) {
                        $("#STEERING_WHEEL").val(data.Result.STEERING_WHEEL);

                    }
                    if (data.Result.REAR_HOOD_WIRING_HARNESS != "" && data.Result.REAR_HOOD_WIRING_HARNESS != null) {
                        $("#REAR_HOOD_WIRING_HARNESS").val(data.Result.REAR_HOOD_WIRING_HARNESS);

                    }
                    if (data.Result.SEAT != "" && data.Result.SEAT != null) {
                        $("#SEAT").val(data.Result.SEAT);

                    }


                    /////////////////////textboxes/////////////////////////

                    $("#Prefix1").val(data.Result.Prefix1);
                    $("#Prefix2").val(data.Result.Prefix2);
                    $("#Prefix3").val(data.Result.Prefix3);
                    $("#Prefix4").val(data.Result.Prefix4);
                    $("#Remarks").val(data.Result.Remarks);
                    $("#ShortDesc").val(data.Result.ShortDesc);

                    /////////////////////checkboxes/////////////////////////
                    $("#TransmissionChk").prop('checked', data.Result.TransmissionChk);
                    $("#EngineChk").prop('checked', data.Result.EngineChk);
                    $("#RearTyreChk").prop('checked', data.Result.RearTyreChk);
                    $("#RHRearTyreChk").prop('checked', data.Result.RHRearTyreChk);
                    $("#BatteryChk").prop('checked', data.Result.BatteryChk);
                    $("#HydraulicPumpChk").prop('checked', data.Result.HydraulicPumpChk);
                    $("#SteeringAssemblyChk").prop('checked', data.Result.SteeringAssemblyChk);
                    $("#RadiatorAssemblyChk").prop('checked', data.Result.RadiatorAssemblyChk);
                    $("#AlternatorChk").prop('checked', data.Result.AlternatorChk);
                    $("#EnableCarButtonChk").prop('checked', data.Result.EnableCarButtonChk);
                    $("#GenerateSerialNoChk").prop('checked', data.Result.GenerateSerialNoChk);
                    $("#Seq_Not_RequireChk").prop('checked', data.Result.Seq_Not_RequireChk);
                    if ($("#ElectricMotorChk").prop('checked', data.Result.ElectricMotorChk)) {
                        if (data.Result.ElectricMotorChk == true) {
                            $('.lblMotor').html("Motor");


                        } else {
                            $('.lblMotor').html("Engine");

                        }
                    }

                    $('[name="DomesticExport"]').removeAttr('checked');
                    if (data.Result.DomesticExport !== "" && data.Result.DomesticExport != null) {
                        if ("Domestic" == data.Result.DomesticExport) {
                            $('#Dom').prop('checked', true);
                        }
                        else if ("Export" == data.Result.DomesticExport) {
                            $('#Exp').prop('checked', true);

                        }

                    }


                    /*$("#DomesticExprt").prop('checked',data.Result.DomesticExport);*/
                    $("#RearAxelChk").prop('checked', data.Result.RearAxelChk);
                    $("#HydraulicChk").prop('checked', data.Result.HydraulicChk);
                    $("#FrontTyreChk").prop('checked', data.Result.FrontTyreChk);
                    $("#RHFrontTyreChk").prop('checked', data.Result.RHFrontTyreChk);
                    $("#BackendChk").prop('checked', data.Result.BackendChk);
                    $("#SteeringMotorChk").prop('checked', data.Result.SteeringMotorChk);
                    $("#SteeringCylinderChk").prop('checked', data.Result.SteeringCylinderChk);
                    $("#ClusterAssemblyChk").prop('checked', data.Result.ClusterAssemblyChk);
                    $("#StartorMotorChk").prop('checked', data.Result.StartorMotorChk);
                    $("#RopsChk").prop('checked', data.Result.RopsChk);

                    ////////////////////toruqe tab////////////////////////////
                    $("#NoOfBoltsFrontAxel").val(data.Result.NoOfBoltsFrontAxel);
                    $("#NoOfBoltsHydraulic").val(data.Result.NoOfBoltsHydraulic);
                    $("#NoOfBoltsFrontTYre").val(data.Result.NoOfBoltsFrontTYre);
                    $("#NoOfBoltsEnToruqe1").val(data.Result.NoOfBoltsEnToruqe1);
                    $("#NoOfBoltsEnToruqe2").val(data.Result.NoOfBoltsEnToruqe2);
                    $("#NoOfBoltsEnToruqe3").val(data.Result.NoOfBoltsEnToruqe3);
                    $("#NoOfBoltsRearTYre").val(data.Result.NoOfBoltsRearTYre);
                    $("#NoOfBoltsTRANSAXELToruqe1").val(data.Result.NoOfBoltsTRANSAXELToruqe1);
                    $("#NoOfBoltsTRANSAXELToruqe2").val(data.Result.NoOfBoltsTRANSAXELToruqe2);

                    $('#Add').hide();
                    $('#Update').show();
                }

            },
            error: function (errormessage) {

            }
        });

    };

    $("#PLANTCODE,#FAMILYCODE").select2({
        allowClear: true,
        width: '180px',
    });
</script>