@model MVCApp.Models.ItemModel
<style>
    
    #divLoader {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        background-image: @Url.Content("~/Image/Loader.gif");
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10000000;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }
</style>
<div id="divLoader" style="display:none;">
    <img src="@Url.Content("~/Image/Loader.gif")" alt="Loader" style="margin-top:10%; margin-left:38%" />
</div>
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.Action("Index", "Home")">Home</a>
        </li>
        <li>
            <a href="#">Family Serial</a>
        </li>
    </ul>
</div>
<div class="page-content">
    <div class="container" style="width:100%!important">
        <div id="alert"></div>
    </div>
    @*--------Form------------*@
<div class="container" style="width:100%!important">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "Form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal form-group">
            @*<fieldset class="the-fieldset">
                <legend class="the-legend"><b>Add Daily Plan</b></legend>*@
            <fieldset class="the-fieldset bg-info">
                <div class="row">
                    <div class="col-md-4">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Plant</strong></label>
                        @Html.DropDownListFor(model => model.Plant, Enumerable.Empty<SelectListItem>(), new { @class = "form-control  input-sm" })

                        <strong>@Html.ValidationMessageFor(model => model.Plant, "", new { @class = "text-danger" })</strong>
                    </div>
                    <div class="col-md-4">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Family</strong></label>
                        @Html.DropDownListFor(model => model.Family, Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control  input-sm" })
                        <strong>@Html.ValidationMessageFor(model => model.Family, "", new { @class = "text-danger" })</strong>
                    </div>
                    <div class="col-md-4">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Stage</strong></label>
                        @Html.DropDownListFor(model => model.Stage, Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control  input-sm" })
                        <strong>@Html.ValidationMessageFor(model => model.Stage, "", new { @class = "text-danger" })</strong>
                    </div>
                    <div class="col-md-4">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Start Serial</strong></label>
                        @Html.TextBoxFor(Model => Model.Start_Serial, null, new { @class = "form-control input-sm", @autocomplete = "off" })
                        <strong>@Html.ValidationMessageFor(model => model.Start_Serial, "", new { @class = "text-danger" })</strong>
                    </div>
                    <div class="col-md-4">
                        <label for="fname" class="text-right control-label col-form-label"><strong>End Serial</strong></label>
                        @Html.TextBoxFor(Model => Model.End_Serial, null, new { @class = "form-control input-sm", @autocomplete = "off" })
                        <strong>@Html.ValidationMessageFor(model => model.End_Serial, "", new { @class = "text-danger" })</strong>
                    </div>
                    <div class="col-md-4">
                        <label for="fname" class="text-right control-label col-form-label"><strong>No. Of Sub-Assemblies</strong></label>
                        @Html.TextBoxFor(Model => Model.No_SubAssemblies, null, new { @class = "form-control input-sm", @autocomplete = "off", type = "number" })
                        <strong>@Html.ValidationMessageFor(model => model.No_SubAssemblies, "", new { @class = "text-danger" })</strong>
                    </div>
                    <div class="col-md-4">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Prefix</strong></label>
                        @Html.TextBoxFor(Model => Model.Prefix, null, new { @class = "form-control input-sm", @autocomplete = "off" })
                        <strong>@Html.ValidationMessageFor(model => model.Prefix, "", new { @class = "text-danger" })</strong>
                    </div>
                    <div class="col-md-4">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Suffix</strong></label>
                        @Html.TextBoxFor(Model => Model.Suffix, null, new { @class = "form-control input-sm", @autocomplete = "off" })
                        <strong>@Html.ValidationMessageFor(model => model.Suffix, "", new { @class = "text-danger" })</strong>
                    </div>
                    <div class="col-md-4">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Current Serial</strong></label>
                        @Html.TextBoxFor(Model => Model.Current_Serial, null, new { @class = "form-control input-sm", @autocomplete = "off" })
                        <strong>@Html.ValidationMessageFor(model => model.Current_Serial, "", new { @class = "text-danger" })</strong>
                    </div>
                    <div class="col-md-4">
                        <label for="fname" class="text-right control-label col-form-label"><strong>Last Printed Date</strong></label>
                        @Html.TextBoxFor(Model => Model.LastPrintedDate, null, new { @class = "form-control input-sm", @autocomplete = "off" })
                        <strong>@Html.ValidationMessageFor(model => model.LastPrintedDate, "", new { @class = "text-danger" })</strong>
                    </div>
                    <div class="col-md-1" style="padding-top: 23px;">
                        <button class="btn btn-success btn-sm" type="button" id="Add"><i class="ace-icon fa fa-plus-square bigger-110"></i><strong>Save</strong></button>
                        <button class="btn btn-success btn-sm" type="button" id="Update"><i class="ace-icon fa fa-plus-square bigger-110"></i><strong>Update</strong></button>


                    </div>
                    <div class="col-md-1" style="padding-top: 23px;">
                        <button class="btn btn-default btn-sm" type="button" id="Clear"><i class="ace-icon fa fa-eraser bigger-110"></i><strong>Clear</strong></button>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="modal" id="DeleteConfirm" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                   
                    <div class="modal-body">
                        <h4><strong>Are you sure, to delete this Record ?</strong></h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnDeleteCancel" class="btn btn-success btn-sm"><i class="fa fa-arrow-left"></i> Cancel</button>
                        
                        <button type="button" id="btnDelete" class="btn btn-danger btn-sm"><i class="ace-icon fa fa-check bigger-110"></i> Delete</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <div id="Grid"></div>
</div>
</div>

<script src="@Url.Content("~/assets/js/jquery-2.1.4.min.js")"></script>
<script src="@Url.Content("~/Scripts/ej2/ej2.min.js")"></script>
<link href="@Url.Content("~/Content/select2/dist/css/select2.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/select2/dist/js/select2.min.js")"></script>

<script>

    $(document).ready(function () {
        DDLPlant();
        $('#Update').hide();
        /*$("#Current_Serial").attr('disabled', true);*/
        $("#LastPrintedDate").attr('disabled', true);
    });

    $("#btnDeleteCancel").on("click", function () {
        $('#DeleteConfirm').modal('hide');
    });

    $("#btnDelete").on("click", function () {
        $('#DeleteConfirm').modal('hide');
        $("#divLoader").show();
        var data = {

            AUTOID: AutoId
            };
        $.ajax({
            url: '@Url.Action("Delete", "FamilySerial")',
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#divLoader").hide();

                if (data.validation.includes("error")) {
                    $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    setTimeout(function () { $(".alert").alert('close'); }, 5000);
                }

                else {
                    $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    setTimeout(function () { $(".alert").alert('close'); }, 5000);
                    $('#Plant').prop('disabled', false);
                    $('#Family').prop('disabled', false);
                    $('#Stage').prop('disabled', false);
                    $('#Start_Serial').val("");
                    $('#End_Serial').val("");
                    $('#Current_Serial').val("");
                    $('#No_SubAssemblies').val("");
                    $('#Prefix').val("");
                    $('#Suffix').val("");
                    $('#Add').show();
                    $('#Update').hide();
                    BindGrid();
                }

            },
            error: function (errormessage)
            {
            }
        });
    });

    $("#Plant").on("change", function () {
        DDLFamilyByPlant();
        //DDLStageByPlantFamily();
    });

    $("#Family").on("change", function () {

        DDLStageByPlantFamily();
        //BindGrid();
    });
    $("#Stage").on("change", function () {


      //BindGrid();
    });

    $("#Clear").on("click", function () {
        location.reload(true);
    });

    //Save Data
    $("#Add").on("click", function () {
        $("#divLoader").show();
        var data = {
            Plant: $('#Plant').val(),
            Family: $('#Family').val(),
            Stage: $('#Stage').val(),
            Start_Serial: $("#Start_Serial").val(),
            End_Serial: $("#End_Serial").val(),
            No_SubAssemblies : $("#No_SubAssemblies").val(),
            Prefix:$("#Prefix").val(),
            Suffix:$("#Suffix").val(),
            Current_Serial: $("#Current_Serial").val(),
            LastPrintedDate: $("#LastPrintedDate").val()
         };
        $.ajax({
            url: '@Url.Action("Save", "FamilySerial")',
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#divLoader").hide();
                if (data.validation.includes("error")) {
                    $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    setTimeout(function () { $(".alert").alert('close'); }, 5000);
                }

                else {
                    $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    setTimeout(function () { $(".alert").alert('close'); }, 5000);
                    $('#Start_Serial').val("");
                    $('#End_Serial').val("");
                    $('#No_SubAssemblies').val("");
                    $('#Prefix').val("");
                    $('#Suffix').val("");
                    $("#Current_Serial").val("");
                    BindGrid();
                }

            },
            error: function (errormessage) {

            }
        });
    });



    function DDLPlant() {
        $.ajax({
            url: '@Url.Action("BindPlant", "FamilySerial")',
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                $("#Plant").html(result);
                DDLFamilyByPlant();
        },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
        });
    };

    //Function to bind Family by Plant
    function DDLFamilyByPlant() {
        var selectedValue = $("#Plant").val();
        $.ajax({
            url: '@Url.Action("BindFamily", "FamilySerial")',
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify({ Plant: selectedValue }),
            success: function (result) {
                $("#Family").html(null);
                $("#Family").html(result);
                DDLStageByPlantFamily();

                //BindGrid();
        },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
        });
    };

    //Function to bind stage by Plant and family
    function DDLStageByPlantFamily() {

        var selectedPlantValue = $("#Plant").val();
        var selectedfamilyValue = $("#Family").val();
        $.ajax({
            url: '@Url.Action("BindStage", "FamilySerial")',
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify({ Plant: selectedPlantValue, Family: selectedfamilyValue }),
            success: function (result) {
                $("#Stage").html(null);
                $("#Stage").html(result);
                BindGrid();
        },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
        });
    };

    function BindGrid() {
        $("#divLoader").show();
        var Data = {
            Plant: $('#Plant').val(),
            Family: $('#Family').val(),
            Stage: $('#Stage').val()
                };
        $.ajax({
            url: '@Url.Action("Grid", "FamilySerial")',
            data: JSON.stringify(Data),
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                $("#Grid").html(result);
                $("#divLoader").hide();
            },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
        });
    };



    //Update Data
      $("#Update").on("click", function () {
         $("#divLoader").show();
          var data = {

            //Plant: $('#Plant').val(),
            //Family: $('#Family').val(),
            Stage: $('#Stage').val(),
            Start_Serial: $("#Start_Serial").val(),
            End_Serial: $("#End_Serial").val(),
            No_SubAssemblies : $("#No_SubAssemblies").val(),
            Prefix:$("#Prefix").val(),
            Suffix:$("#Suffix").val(),
            Current_Serial: $("#Current_Serial").val(),
            LastPrintedDate: $("#LastPrintedDate").val(),
            AutoId:AutoId
            };
        $.ajax({
            url: '@Url.Action("Update", "FamilySerial")',
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#divLoader").hide();

                if (data.validation.includes("error")) {
                    $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    setTimeout(function () { $(".alert").alert('close'); }, 5000);
                }

                else {
                    $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    setTimeout(function () { $(".alert").alert('close'); }, 5000);
                    $('#Plant').prop('disabled', false);
                    $('#Family').prop('disabled', false);
                    $('#Stage').prop('disabled', false);
                    $('#Start_Serial').val("");
                    $('#End_Serial').val("");
                    $('#No_SubAssemblies').val("");
                    $('#Prefix').val("");
                    $('#Suffix').val("");
                    $("#Current_Serial").val("");
                    $('#Add').show();
                    $('#Update').hide();
                    BindGrid();
                }

            },
            error: function (errormessage)
            {
            }
        });
    });

    $("#Plant").select2({
        allowClear: true,
        width: '100%',
    });
    $("#Family").select2({
        allowClear: true,
        width: '100%',
    });
   
</script>


