@model MVCApp.Models.ItemModel
<style>
    /*.modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 1%;
    }

    .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
    }*/

    /*.modal-header{
        background-color: darkcyan;
    }*/
    #divLoader {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        background-image: @Url.Content("~/Image/Loader.gif");
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10000000;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }
</style>
<div id="divLoader" style="display:none;">
    <img src="@Url.Content("~/Image/Loader.gif")" alt="Loader" style="margin-top:15%; margin-left:50%" />
</div>
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.Action("Index", "Home")">Home</a>
        </li>
        <li>
            <a href="#">Item Master</a>
        </li>
    </ul>
</div>
<div class="page-content">
    <div class="container" style="width:100%!important">
        <div id="alert"></div>
    </div>
    @*--------Form------------*@
    <div class="container" style="width:100%!important">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "Form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal form-group">
                @*<fieldset class="the-fieldset">
                    <legend class="the-legend"><b>Add Daily Plan</b></legend>*@
                <fieldset class="the-fieldset bg-info">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="fname" class="text-right control-label col-form-label"><strong>Plant</strong></label>
                            @Html.DropDownListFor(model => model.Plant, Enumerable.Empty<SelectListItem>(), new { @class = "form-control  input-sm" })
                            <strong>@Html.ValidationMessageFor(model => model.Plant, "", new { @class = "text-danger" })</strong>
                        </div>
                        <div class="col-md-3">
                            <label for="fname" class="text-right control-label col-form-label"><strong>Family</strong></label>
                            @Html.DropDownListFor(model => model.Family, Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control  input-sm" })
                            <strong>@Html.ValidationMessageFor(model => model.Family, "", new { @class = "text-danger" })</strong>
                        </div>
                        <div class="col-md-2">
                            <label for="fname" class="text-right control-label col-form-label"><strong>Item Code</strong></label>
                            @Html.DropDownListFor(model => model.ItemCode, Enumerable.Empty<SelectListItem>(), "----Select----", new { @class = "form-control  input-sm" })                           
                            <strong>@Html.ValidationMessageFor(model => model.ItemCode, "", new { @class = "text-danger" })</strong>
                        </div>
                        <div class="col-md-4">
                            <label for="fname" class="text-right control-label col-form-label"><strong>Item Description</strong></label>
                            @Html.TextBoxFor(Model => Model.Item_Description, null, new { @class = "form-control input-sm", @autocomplete = "off" })
                            <strong>@Html.ValidationMessageFor(model => model.Item_Description, "", new { @class = "text-danger" })</strong>
                        </div>
                        <div class="col-md-1" style="padding-top: 23px;">
                            <button class="btn btn-success btn-sm" type="button" id="Add"><i class="ace-icon fa fa-plus-square bigger-110"></i><strong>Save</strong></button>
                        </div>
                        <div class="col-md-1" style="padding-top: 23px;">
                            <button class="btn btn-default btn-sm" type="button" id="Clear"><i class="ace-icon fa fa-eraser bigger-110"></i><strong>Clear</strong></button>
                        </div>
                    </div>                   
                </fieldset>
            </div>
        }
        <div id="Grid"></div>
    </div>
</div>

<script src="@Url.Content("~/assets/js/jquery-2.1.4.min.js")"></script>
<script src="@Url.Content("~/Scripts/ej2/ej2.min.js")"></script>
<link href="@Url.Content("~/Content/select2/dist/css/select2.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/select2/dist/js/select2.min.js")"></script>

<script>

    $(document).ready(function () {
        DDLPlant();
    });

    $("#Plant").on("change", function () {
        DDLFamilyByPlant();
    });

    $("#Family").on("change", function () {
        FillItemCode();
        BindGrid();        
    });
    $("#ItemCode").on("change", function () {       
        FillItemDesc();
    });

    $("#Clear").on("click", function () {
        location.reload(true);
    });

    //Save Data
    $("#Add").on("click", function () {
        $("#divLoader").show();
        var data = {
            Plant: $('#Plant').val(),
            Family: $('#Family').val(),
            ItemCode: $('#ItemCode').val(),
            Item_Description: $('#Item_Description').val()
            };
        $.ajax({
            url: '@Url.Action("Save", "ItemMaster")',
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#divLoader").hide();
                $('#Item_Description').val("");
                if (data.Msg != "" || data.Msg != null) {
                    $('#alert').append('<div class="alert ' + data.ID + '"role = "alert"><strong>' + data.Msg + '</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    setTimeout(function () { $(".alert").alert('close'); }, 5000);
                }
                BindGrid();
            },
            error: function (errormessage) {

            }
        });
    });   

    function DDLPlant() {
        $.ajax({
            url: '@Url.Action("BindPlant", "ItemMaster")',
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                $("#Plant").html(result);
                DDLFamilyByPlant();
        },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
        });
    };

    //Function to bind Family by Plant
    function DDLFamilyByPlant() {
        var selectedValue = $("#Plant").val();
        $.ajax({
            url: '@Url.Action("BindFamily", "ItemMaster")',
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify({ Plant: selectedValue }),
            success: function (result) {
                $("#Family").html(null);
                $("#Family").html(result);
                FillItemCode();
                BindGrid();
        },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
        });
    };

    //Function to bind Item by Family
    function FillItemCode() {
        var Data = {
            Plant: $('#Plant').val(),
            Family: $('#Family').val()
        };
        $("#divLoader").show();
        $.ajax({
            url: '@Url.Action("BindItemCode", "ItemMaster")',
            data: JSON.stringify({ obj: Data }),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            cache: true,
            success: function (data) {
                $("#ItemCode").empty();
                $.each(data.Item, function (i, item) {
                    $("#ItemCode").append('<option value=" ' + item.Value + ' ">' + item.Text + '</option>');
                });
                FillItemDesc();
                $("#divLoader").hide();
            },
            error: function (errormessage) {

            }
        });
    };

    //Function to bind Desc by Item
    function FillItemDesc() {
        var Data = {
            Plant: $('#Plant').val(),
            Family: $('#Family').val(),
            ItemCode: $("#ItemCode").val()
        };     
        $.ajax({
            url: '@Url.Action("BindItemDesc", "ItemMaster")',
            data: JSON.stringify({ obj: Data }),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            cache: true,
            success: function (data) {
                $('#Item_Description').val("");
                $("#Item_Description").val(data);             
            },
            error: function (errormessage) {

            }
        });
    };

    function BindGrid() {
        $("#divLoader").show();
        var Data = {
                Plant: $('#Plant').val(),
                Family: $('#Family').val()
                };
        $.ajax({
            url: '@Url.Action("Grid", "ItemMaster")',
            data: JSON.stringify(Data),
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                $("#Grid").html(result);
                $("#divLoader").hide();
            },
            error: function (errormessage) {
            //alert(errormessage.responseText);
            }
        });
    };

    $("#Plant").select2({
        allowClear: true,
        width: '100%',
    });
    $("#Family").select2({
        allowClear: true,
        width: '100%',
    });
    $("#ItemCode").select2({
        allowClear: true,
        width: '100%',
    });
</script>