@model MVCApp.Models.MenuModel

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.Action("Index", "Home")">Home</a>
        </li>
        <li>
            <a href="#">Maintenance</a>
        </li>

        <li class="active">
            Menu
        </li>
    </ul>
</div>

<div class="page-content">    
    <div class="container" style="width:100%!important">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.AutoId)
            <div class="modal" id="DeleteConfirm" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-danger">
                            <strong class="modal-title" id="exampleModalLabel" style="font-size:25px;"><i class="fa fa-exclamation-circle" style="font-size:35px;" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<strong>Confirmation..!</strong></strong>
                            <a href="@Url.Action("Index", "MenuMaster")" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </div>
                        <div class="modal-body">
                            <h4><strong>Are you sure, to delete this Record ?</strong></h4>
                        </div>
                        <div class="modal-footer">
                            <a href="@Url.Action("Index", "MenuMaster")" class="btn btn-success btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Go Back</a>
                            <button type="submit" class="btn btn-danger btn-sm"><i class="ace-icon fa fa-check bigger-110"></i> Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script src="~/assets/js/jquery-2.1.4.min.js"></script>
<script>
    $(document).ready(function () {       
        $('#DeleteConfirm').modal('show'); 
    });
</script>

